<template>
  <div v-if="attachments && attachments.length > 0" class="media">
    <el-carousel
      v-if="attachments.length > 1"
      arrow="always"
      height="370px"
      indicator-position="none"
    >
      <el-carousel-item v-for="i in attachments" :key="attachmentId(i)">
        <div style="display:flex; align-items: center; height: 370px">
          <div style="margin: auto">
            <attachment :attachment="i" :reply="reply" :composing="composing" :height="370" @delete-attachment="deleteAttachment" />
          </div>
        </div>
      </el-carousel-item>
    </el-carousel>
    <div v-else-if="attachments.length === 1" style="position: relative">
      <attachment :attachment="attachments[0]" :reply="reply" :composing="composing" @delete-attachment="deleteAttachment" />
    </div>
  </div>
</template>

<script lang="ts">
import { Prop } from 'vue-property-decorator';

import Component from 'nuxt-class-component';
import type { ASObject } from 'mammoth-activitystreams';
import { resolveObjectRef } from 'mammoth-activitystreams';
import AuthenticatedComponent from '../../AuthenticatedComponent.vue';
import Attachment from './Attachment.vue';

@Component({
  components: { Attachment }
})
export default class Attachments extends AuthenticatedComponent {
  @Prop(Array) readonly attachments: ASObject[]
  @Prop(Boolean) readonly reply: boolean
  @Prop(Boolean) readonly composing: boolean

  deleteAttachment (attachment: ASObject) {
    this.attachments.splice(this.attachments.indexOf(attachment), 1);
  }

  attachmentId (attachment: ASObject) {
    if (attachment.id) {
      return attachment.id;
    }
    if (attachment.href) {
      return attachment.href;
    }
    if (attachment.url) {
      if (typeof attachment.url === 'string') {
        return attachment.url;
      }
      return resolveObjectRef(attachment.url[0]);
    }
  }
}
</script>

<!--suppress CssUnusedSymbol -->
<style scoped>
</style>
