<template>
  <div style="position: relative">
    <div style="display: flex; justify-content: center;">
      <uploaded-image
        v-if="isUploadedImage()"
        :uploaded-image="attachment"
      />
      <el-image
        v-else-if="isImageAttachment()"
        :src="getImageUrl(600)"
        fit="contain"
        style="max-height: 560px; justify-content: center"
        @click="showDialog(getImageUrl(1024))"
      />
      <video v-else-if="isVideo()" controls>
        <source :src="(attachment.href || attachment.url) + '#t=0.1'" :type="attachment.mediaType">
      </video>
      <a v-else :href="getAttachmentHref()" target="_blank" rel="noreferrer">
        <link-preview
          :object="attachment"
          size="timeline"
          :height="height"
        />
      </a>
    </div>
    <el-button
      v-if="composing"
      circle
      icon="el-icon-delete"
      size="mini"
      style="position: absolute; right: 5px; top: 5px; opacity: 50%"
      @click="deleteAttachment"
    />
    <el-dialog :visible.sync="dialogVisible" width="90%">
      <div style="display: flex; justify-content: center;">
        <el-image :src="dialogImage" fit="contain" />
      </div>
    </el-dialog>
  </div>
</template>

<script lang="ts">
import { Prop } from 'vue-property-decorator';

import Component from 'nuxt-class-component';
import type { ASObject } from 'mammoth-activitystreams';
import { Link, LinkRef, linkRefType, objectRefsType, ObjectType, resolveObjectRef } from 'mammoth-activitystreams';
import AuthenticatedComponent from '../../AuthenticatedComponent.vue';
import UploadedImage from '../../composer/UploadedImage.vue';
import LinkPreview from '../LinkPreview.vue';

@Component({
  components: { UploadedImage, LinkPreview }
})
export default class Attachment extends AuthenticatedComponent {
  @Prop(Object) readonly attachment: ASObject
  @Prop(Boolean) readonly reply: boolean
  @Prop(Boolean) readonly composing: boolean
  @Prop(Number) readonly height: number

  dialogImage: string = null
  dialogVisible: boolean = false

  deleteAttachment () {
    this.$emit('delete-attachment', this.attachment);
  }

  showDialog (image): void {
    this.dialogImage = image;
    this.dialogVisible = true;
  }

  getAttachmentHref (): string {
    return resolveObjectRef(this.attachment);
  }

  urlClosestToOurSize (urls: LinkRef[], preferredSize: number): string {
    let url: string = null;
    let size = 0;
    urls.forEach((linkRef: LinkRef) => {
      if (linkRefType(linkRef) === 'string') {
        if (!url) {
          url = linkRef as string;
        }
      } else {
        const link = linkRef as Link;
        if (size === 0 && !url) {
          url = link.href;
          size = link.width || 0;
        } else if (link.width && Math.abs(link.width - preferredSize) < Math.abs(size - preferredSize)) {
          url = link.href;
          size = link.width;
        }
      }
    });
    return url;
  }

  transformUrlProtocol (href: string): string {
    if (process.env.NODE_ENV !== 'production') {
      return href;
    }
    try {
      const url = new URL(href);
      if (url.protocol === 'https') {
        return href;
      }
      url.protocol = 'https';
      return url.toString();
    } catch (e) {
      // debugger;
      return href;
    }
  }

  getImageUrl (preferredSize: number): string {
    const url = this.attachment.url;
    let href;
    if (!url) {
      href = this.attachment.href;
    } else {
      const type = objectRefsType(url);
      if (type === 'string') {
        href = url as string;
      } else if (type === 'Link') {
        href = (url as Link).href;
      } else if (type === 'array') {
        href = this.urlClosestToOurSize(url as LinkRef[], preferredSize);
      }
    }
    // since our CSP blocks us from loading http images, might as well try https
    return this.transformUrlProtocol(href);
  }

  isUploadedImage (): boolean {
    return this.attachment.type === 'UploadedImage';
  }

  isImageAttachment (): boolean {
    return this.attachment.type === ObjectType.Image ||
      (this.attachment.mediaType &&
        this.attachment.mediaType.toLowerCase().startsWith('image/'));
  }

  isVideo (): boolean {
    return this.attachment.type === ObjectType.Video ||
      (this.attachment.mediaType &&
        this.attachment.mediaType.toLowerCase().startsWith('video/'));
  }
}
</script>

<style scoped>
.media {
  margin-top: 10px;
  width: 100%;
}

.el-image {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

video {
  min-width: 100%;
  min-height: 100%;
  height: auto !important;
  width: auto !important;
  max-height: 400px;
  max-width: 100%;
  object-fit: contain;
}
</style>
