<template>
  <collection-view v-if="tagResult" :collection="tagResult">
    <object-viewer :object="result" />
  </collection-view>
</template>

<script lang="ts">
import Component from 'nuxt-class-component';
import type { OrderedCollectionPage } from 'mammoth-activitystreams';
import AuthenticatedComponent from '../../../components/AuthenticatedComponent';
import CollectionView from '../../../components/CollectionView.vue';
import ObjectViewer from '../../../components/ObjectViewer.vue';

@Component({
  components: { CollectionView, ObjectViewer },
  layout: 'authenticated'
})
export default class Search extends AuthenticatedComponent {
  tag: string = null;
  tagResult: OrderedCollectionPage<any> = null;

  // eslint-disable-next-line
  async getTags (tag: string): Promise<any> {
    return await this.$axios.$get(`/tags/${tag}`);
  }

  async mounted (): Promise<void> {
    this.tag = this.$route.params.tag.toLowerCase();
    this.tagResult = await this.getTags(this.tag);
    await this.getActor();
  }
}
</script>

<style scoped>

</style>
