<template>
  <div v-if="actor" :key="actor.id">
    <div style="display: flex; flex-direction: row">
      <span v-if="actor.icon">
        <el-avatar :src="actor.icon.url" class="avatar" size="medium" />
      </span>
      <div class="author-name-and-time">
        <span class="author-name">{{ actor.name }}</span>
        <br>
        <span>
          <nuxt-link :to="linkToActor(actor)">
            {{ actor.id }}
          </nuxt-link>
        </span>
      </div>
    </div>

    <ul>
      <template v-if="following">
        <li v-if="following.totalItems">
          Following {{ following.totalItems }}
        </li>
        <li v-else>
          Follows nobody.
        </li>
      </template>

      <template v-if="followers">
        <li v-if="followers.totalItems">
          Has {{ followers.totalItems }} followers
        </li>
        <li v-else>
          Has no followers
        </li>
      </template>

      <template v-if="likes">
        <li v-if="likes.totalItems">
          Likes {{ likes.totalItems }}
        </li>
        <li v-else>
          Likes nobody
        </li>
      </template>

      <template v-if="liked">
        <li v-if="liked.totalItems">
          Liked by {{ liked.totalItems }}
        </li>
        <li v-else>
          Liked by nobody
        </li>
      </template>
    </ul>
  </div>
</template>

<script lang="ts">
import Component from 'nuxt-class-component';
import { Prop } from 'vue-property-decorator';
import type { ActorRef, ASObject, Collection, CollectionPageRef, ObjectRef } from 'mammoth-activitystreams';
import type { Actor as APActor } from 'mammoth-activitypub';
import { resolveObject } from '../src/apResolver';

import AuthenticatedComponent from './AuthenticatedComponent.vue';

  @Component({
    components: {}
  })
export default class Actor extends AuthenticatedComponent {
    @Prop() readonly object: ActorRef;

    actor: APActor = null;
    activityOf: Record<string, ASObject[]> = null;
    likes: Collection<APActor> = null;
    liked: Collection<ASObject> = null;
    followers: Collection<APActor> = null;
    following: Collection<APActor> = null;

    linkToActor () {
      return { path: '/actor', query: { actor: this.actor.id } };
    }

    async mounted () {
      try {
        this.actor = await resolveObject<APActor>(this.object as ObjectRef<APActor>, undefined);
        this.activityOf = await this.$axios.$get('/activityOf', { params: { q: this.actor.id } });
        const promises = [];
        if (this.actor.likes) {
          promises.push(resolveObject(this.actor.likes as CollectionPageRef<APActor>)
            .then((result: Collection<APActor>) => {
              this.likes = result;
            }).catch(() => {
            }));
        }
        if (this.actor.liked) {
          promises.push(resolveObject(this.actor.liked as CollectionPageRef<ASObject>)
            .then((result: Collection<ASObject>) => {
              this.liked = result;
            }).catch(() => {
            }));
        }
        if (this.actor.followers) {
          promises.push(resolveObject(this.actor.followers as CollectionPageRef<APActor>)
            .then((result: Collection<APActor>) => {
              this.followers = result;
            }).catch(() => {
            }));
        }
        if (this.actor.following) {
          promises.push(resolveObject(this.actor.following as CollectionPageRef<APActor>)
            .then((result: Collection<APActor>) => {
              this.following = result;
            }).catch(() => {
            }));
        }
        await Promise.all(promises);
        // eslint-disable-next-line no-empty
      } catch (e) {
      }
    }
}
</script>

<style scoped>
  .avatar {
    margin-top: 9px;
  }

  .author-name {
    white-space: nowrap;
    font-weight: bold;
    color: #000066;
    margin-right: 4px;
  }

  .author-name-and-time {
    margin-top: 8px;
    margin-left: 10px;
  }
</style>
