<template>
  <div />
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'nuxt-class-component';
import type { Actor } from 'mammoth-activitypub';
import { Prop } from 'vue-property-decorator';
import bus from '../src/bus';

let me: Actor = null;
let mePromise: Promise<Actor> = null;

@Component({
  abstract: true,
  layout: 'authenticated'
})
export default class AuthenticatedComponent extends Vue {
  // only to be used for unit testing!
  @Prop() readonly __testMe: Actor;

  get me (): Actor {
    return me;
  }

  async created () {
    await this.getActor();
  }

  getBus (): Vue {
    return bus;
  }

  protected async handleLogOut (): Promise<void> {
    this['$cookies'].removeAll();
    await this.$axios.$get('/logout');
    await this.handleNotLoggedIn();
  }

  protected async handleNotLoggedIn (): Promise<void> {
    const loggedIn = await this.$axios.$get('/amiloggedin');
    if (loggedIn === false) {
      // still no cookie; log in
      await this.$router.push('/');
    }
  }

  getActor (): Promise<Actor> {
    if (this.__testMe) {
      mePromise = Promise.resolve(this.__testMe);
      me = this.__testMe;
    }
    if (!mePromise) {
      mePromise = this.updateActor();
    }
    return mePromise;
  }

  updateActor (): Promise<Actor> {
    try {
      return this.$axios.$get('/myactor', {
        headers: {
          Etag: me ? me._rev : undefined
        }
      }).then((result: Actor) => {
        me = result;
        return me;
      });
      // eslint-disable-next-line no-empty
    } catch (e) {
    }
  }

  proxy (url, config) {
    if (!config) {
      config = {
        headers: {
          accept: 'application/ld+json; profile="https://www.w3.org/ns/activitystreams"'
        }
      };
    }
    if (!config.params) {
      config.params = {};
    }
    config.params.q = url;
    return this.$axios.get('/proxy', config);
  }

  proxyHead (url, config?) {
    if (!config) {
      config = {
        headers: {
          accept: 'application/ld+json; profile="https://www.w3.org/ns/activitystreams"'
        }
      };
    }
    if (!config.params) {
      config.params = {};
    }
    config.params.q = url;
    return this.$axios.get('/proxy-head', config);
  }
}
</script>

<style scoped>

</style>
