<template>
  <div>
    <object-viewer v-for="item in items" :key="item.id" :object="item" />
    <div ref="scrollTrigger" style="height: 1px; width: 1px; position: relative; top: -300px;" />
  </div>
</template>

<script lang="ts">
import Component from 'nuxt-class-component';
import { Prop, Watch } from 'vue-property-decorator';
import type { ASObject, CollectionPage, CollectionPageRef, OrderedCollectionPage } from 'mammoth-activitystreams';
import { objectRefType } from 'mammoth-activitystreams';
import { resolveObject, resolveObjects } from '../src/apResolver';
import AuthenticatedComponent from './AuthenticatedComponent.vue';
import ObjectViewer from './ObjectViewer';

@Component({
  components: { ObjectViewer }
})
export default class CollectionView<T extends ASObject> extends AuthenticatedComponent {
    @Prop() readonly collection: CollectionPage<T>

    next: CollectionPageRef<T> = null;
    items: T[] = [];
    busy: boolean = false;

    @Watch('collection')
    async collectionChange (): Promise<void> {
      await this.setCollectionItems();
    }

    async fetchItems (): Promise<void> {
      if (this.next) {
        this.busy = true;
        const items = this.items;
        const nextPage: CollectionPage<T> = await resolveObject(this.next);
        // avoid case where user navigates away from this collection while we're resolving
        // a page from it
        if (items === this.items) {
          const newItems = nextPage.orderedItems || nextPage.items;
          if (newItems) {
            this.items.push(...newItems);
          }
          this.next = nextPage.next || nextPage.first;
        }
        this.busy = false;
      } else {
        this.busy = true;
      }
    }

    async mounted (): Promise<void> {
      await this.setCollectionItems();
      const mainArea = this.$refs.mainArea;
      const options = {
        root: mainArea,
        rootMargin: '0px',
        threshold: 0.5
      } as IntersectionObserverInit;

      const it = this;
      let lastCalled = 0;
      const observer = new IntersectionObserver(async () => {
        if (!it.busy) {
          const now = Date.now();
          if (lastCalled < now - 200) {
            await it.fetchItems();
            lastCalled = now;
          }
        }
      }, options);
      const refs = this.$refs;
      const interval = setInterval(() => {
        const scrollTrigger = refs.scrollTrigger as Element;
        if (scrollTrigger) {
          observer.observe(scrollTrigger);
          clearInterval(interval);
        }
      }, 100);
    }

    async setCollectionItems () {
      if (objectRefType(this.collection) === 'ASObject') {
        const collectionObject = this.collection as OrderedCollectionPage<T>;
        this.next = collectionObject.next || collectionObject.first;
        const items = collectionObject.orderedItems || collectionObject.items;
        if (items) {
          this.items = await resolveObjects<T>(items) as T[];
        } else {
          this.items = [];
        }
      } else {
        this.next = this.collection;
        this.items = [];
      }
      if (!this.items.length) {
        await this.fetchItems();
      }
    }
}
</script>

<style scoped>

</style>
