<template>
  <el-card max-width="500px" style="border-radius: 6px;">
    <el-button @click="showComposer">
      What’s on your mind?
    </el-button>

    <el-dialog
      :visible.sync="composerVisible"
      :width="dialogWidth"
      center
      title="Create Post"
    >
      <composer />
    </el-dialog>
  </el-card>
</template>

<script lang="ts">
import AuthenticatedComponent from './AuthenticatedComponent.vue';
import Composer from './composer/Composer.vue';

export default {
  name: 'CreatePost',
  components: { Composer },
  extends: AuthenticatedComponent,
  data: () => {
    return {
      composerVisible: false,
      dialogWidth: '578px',
      dialogWidthInterval: null
    }
  },
  mounted (): void {
    this.getBus().$on('post-created', this.removeComposer);
    this.dialogWidthInterval = setInterval(() => {
      const newWidth = Math.min(578, window.innerWidth) + 'px';
      if (newWidth !== this.dialogWidth) {
        this.dialogWidth = newWidth;
      }
    }, 200);
  },
  beforeDestroy (): void {
    this.getBus().$off('post-created', this.removeComposer);
  },
  methods: {
    showComposer () {
      this.composerVisible = true;
    },
    removeComposer () {
      this.composerVisible = false;
    }
  }
}
</script>

<!--suppress CssUnusedSymbol -->
<style scoped>
  .post-input ::v-deep textarea {
    word-wrap: normal;
    word-break: normal;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  }

  .post-input {
    padding-bottom: 10px;
  }

  .el-dialog__body {
    padding-top: 0 !important;
  }

  .el-card {
    margin-bottom: 10px;
  }
</style>
