<template>
  <el-header height="60px">
    <div>
      <el-container class="wide-header">
        <div class="hidden-sm-and-down">
          <img
            alt="mammoth icon"
            height="40px"
            src="/mammoth-logo.svg"
            width="40px"
          >
        </div>
        <div class="hidden-sm-and-down" style="margin-left: 20px; margin-right: 20px;">
          <b>Mammoth</b>
        </div>
        <el-menu
          ref="menu"
          :default-active="activeIndex"
          active-text-color="#ffffff"
          background-color="#35495e"
          menu-trigger="click"
          mode="horizontal"
          text-color="#B4BCCC"
          @open="focusOnSearch"
          @select="handleMenuSelection"
        >
          <el-menu-item index="timeline">
            <i class="el-icon-time" />
            <span class="hidden-sm-and-down">timeline</span>
          </el-menu-item>
          <el-submenu index="notifications">
            <template slot="title">
              <span style="position: relative">
                <span v-if="unreadNotifications" class="notification-badge">
                  {{ unreadNotifications }}
                </span>
              </span>
              <i class="el-icon-bell" />
              <span class="hidden-sm-and-down">notifications</span>
            </template>
            <el-menu-item v-if="!notifications.length">
              No notifications
            </el-menu-item>
            <el-menu-item v-else @click="markAllAsRead">
              Mark all as read
            </el-menu-item>
            <el-menu-item
              v-for="notification in notifications"
              :key="notification.id"
              class="notification-menu-item"
              @click="viewObject(notification)"
            >
              <div>
                <span class="notification-actor-name">{{ notification.actor }}</span>
                <span :style="notification.read ? '' : 'font-weight: bold;'" class="notification-text">{{ notification.message }}</span>
                <span style="float: right">
                  <i
                    v-if="!notification.read"
                    class="el-icon-chat-line-round"
                    @click.stop="markNotificationAsRead(notification, true)"
                  />
                  <i v-else class="el-icon-chat-round" @click.stop="markNotificationAsRead(notification, false)" />
                </span>
                <br>
                <moment :value="notification.published" />
              </div>
            </el-menu-item>
          </el-submenu>
          <el-submenu index="profile_menu">
            <template slot="title">
              <i class="el-icon-user" />
              <span class="hidden-sm-and-down">Profile</span>
            </template>
            <el-menu-item index="profile">
              <i class="el-icon-setting" />
              <span class="hidden-sm-and-down">Settings</span>
            </el-menu-item>
            <el-menu-item index="signout">
              <i class="el-icon-close" />
              <span class="hidden-sm-and-down">Signout</span>
            </el-menu-item>
          </el-submenu>
          <el-submenu class="hidden-md-and-up" index="search">
            <template slot="title">
              <i class="el-icon-search" />
            </template>
            <el-menu-item @click="doSearch">
              <el-input
                ref="searchInput"
                v-model="search"
                autocapitalize="off"
                autocorrect="off"
                placeholder="search"
                prefix-icon="el-icon-search"
                style="max-width: 200px;"
              />
            </el-menu-item>
          </el-submenu>
        </el-menu>
        <div class="hidden-sm-and-down" style="width: 25%">
          <el-form @submit.native.prevent="doSearch">
            <el-input
              v-model="search"
              autocapitalize="off"
              autocorrect="off"
              placeholder="search"
              prefix-icon="el-icon-search"
              style="max-width: 200px;"
            />
          </el-form>
        </div>
      </el-container>
    </div>
  </el-header>
</template>

<script lang="ts">
import Component from 'nuxt-class-component';
import { Prop } from 'vue-property-decorator';
import type { OrderedCollectionPage } from 'mammoth-activitystreams';
import type { Actor as APActor } from 'mammoth-activitypub';
import { resolveObjectRef } from 'mammoth-activitystreams';
import { Notification, NotificationType } from 'mammoth-api';
import { APObject } from 'mammoth-activitypub';
import { resolveObjects } from '../src/apResolver';
import AuthenticatedComponent from './AuthenticatedComponent.vue';
import LinkToObject from './LinkToObject.vue';
import Moment from './Moment.vue';

const navigationCommands = [
  'timeline', 'profile', 'signout'
];

interface DisplayableNotification {
  id: string;
  published: string;
  actor: string;
  message: string;
  link: string;
  page: string;
  read: boolean
}

@Component({
  components: { LinkToObject, Moment }
})
export default class HeaderBar extends AuthenticatedComponent {
    @Prop() activeIndex: string;

    notifications: DisplayableNotification[] = [];
    totalNotifications: Number = 0;
    unreadNotifications: Number = 0;
    notificationInterval: NodeJS.Timeout = null;
    search: string = '';

    async mounted (): Promise<void> {
      this.notificationInterval = setInterval(async () => {
        await this.loadNotifications()
      }, 30000);
      await this.loadNotifications();
    }

    handleMenuSelection (index): void {
      if (index === 'signout') {
        this.handleLogOut();
        return;
      }

      if (navigationCommands.includes(index)) {
        this.getBus().$emit('navigate', '/' + index);
      }
    }

    async markAllAsRead (): Promise<void> {
      await this.$axios.$post('/notification', null);
      this.unreadNotifications = 0;
    }

    async markNotificationAsRead (notification, read: boolean = true): Promise<Notification> {
      const patch = {
        id: notification.id,
        read
      }
      await this.$axios.$patch('/notification', patch);
      notification.read = read;
      this.unreadNotifications += read ? -1 : 1;
    }

    async viewObject (notification: any): Promise<void> {
      if (!notification.read) {
        await this.markNotificationAsRead(notification);
      }
      if (notification.link) {
        switch (notification.page) {
          case '/view-object':
            await this.$router.push({ path: '/view-object', query: { q: notification.link } });
            break;

          case '/actor':
            await this.$router.push({ path: '/actor', query: { actor: notification.link } });
        }
      }
    }

    // noinspection JSUnusedGlobalSymbols
    beforeDestroy (): void {
      clearInterval(this.notificationInterval);
    }

    async displayableNotification (notification: Notification): Promise<DisplayableNotification> {
      try {
        const object = await resolveObjects<APObject>(notification.object) as APObject;
        const target = await resolveObjects(notification.target);
        const actor: APActor = object?.actor || object?.attributedTo;
        const displayableNotification: DisplayableNotification = {
          id: notification.id,
          published: notification.published,
          actor: actor?.name || actor?.preferredUsername || 'An unknown actor',
          message: '',
          link: target.id,
          page: '/view-object',
          read: notification.read
        };
        const objectActor = resolveObjectRef(actor);
        switch (notification.activity) {
          case NotificationType.LikedUsersPost:
            displayableNotification.message = 'liked your post.';
            break;

          case NotificationType.LikedUsersReply:
            displayableNotification.message = 'liked your reply.';
            break;

          case NotificationType.LikedUser:
            displayableNotification.message = 'likes you.';
            displayableNotification.link = objectActor;
            displayableNotification.page = '/actor';
            break;

          case NotificationType.RepliedToUsersPost:
            displayableNotification.message = 'replied to your post.';
            break;

          case NotificationType.RepliedToUsersReply:
            displayableNotification.message = 'replied to your comment.';
            break;

          case NotificationType.EditedAPostUserRespondedTo:
            displayableNotification.message = 'edited a post you responded to.';
            break;

          case NotificationType.EditedAReplyUserRespondedTo:
            displayableNotification.message = 'edited a comment you responded to.';
            break;

          case NotificationType.SentUserAFollowRequest:
            displayableNotification.message = 'sent you a follow request.';
            displayableNotification.link = objectActor;
            displayableNotification.page = '/actor';
            break;

          case NotificationType.AcceptedUsersFollowRequest:
            displayableNotification.message = 'accepted your follow request.';
            displayableNotification.link = objectActor;
            displayableNotification.page = '/actor';
            break;

          case NotificationType.SharedUsersPost:
            displayableNotification.message = 're-shared your post.';
            break;

          case NotificationType.AcceptedUsersFriendRequest:
            displayableNotification.message = 'accepted your friend request.';
            displayableNotification.link = objectActor;
            displayableNotification.page = '/actor';
            break;

          case NotificationType.SentUserAFriendRequest:
            displayableNotification.message = 'sent you a friend request.';
            displayableNotification.link = objectActor;
            displayableNotification.page = '/actor';
            break;
        }
        return displayableNotification;
      } catch (e) {
        console.log('error creating displayable notification for notification ' + notification.id + ': ' + e.message);
        return Promise.resolve({
          id: notification.id,
          published: notification.published,
          actor: notification.actor,
          message: '',
          page: '/view-object',
          read: notification.read
        } as DisplayableNotification);
      }
    }

    async loadNotifications (): Promise<void> {
      try {
        const notifications: OrderedCollectionPage<Notification> = await this.$axios.$get('/notifications');
        const it = this;
        this.totalNotifications = notifications.totalItems;
        this.unreadNotifications = notifications.unreadItems;
        const orderedNotifications = notifications.orderedItems as Notification[];
        const displayableNotificationPromises = orderedNotifications.map(
          notification => it.displayableNotification(notification));
        this.notifications = await Promise.all<DisplayableNotification>(displayableNotificationPromises);
      } catch (e) {
        // no worries
        console.log(e);
      }
    }

    async focusOnSearch (evt): Promise<void> {
      if (evt === 'search') {
        await this.$nextTick();
        await this.$nextTick();
        const element = this.$refs.searchInput as HTMLInputElement;
        element.focus();
        element.select();
      }
    }

    doSearch (): void {
      if (this.search) {
        this.$router.push({ path: '/search', query: { q: this.search } });
      }
    }
}
</script>

<!--suppress CssUnusedSymbol -->
<style scoped>
  .el-header {
    position: fixed;
    z-index: 1000;
    background-color: #35495e;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    color: #ececec;
    line-height: 20px;
  }

  .el-menu {
    width: 100%;
  }

  .el-menu-item {
    padding-left: 10px;
    padding-right: 10px;
  }

  .wide-header {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  .notification-badge {
    position: absolute;
    font-size: smaller;
    color: #d2d2d2;
    top: -10px;
    left: 13px;
    height: 16px;
    padding-left: 2px;
    padding-right: 4px;
    background: #ba0000;
    border-radius: 50%;
    line-height: 16px;
  }

  .notification-actor-name {
    color: white;
    font-weight: bolder;
  }

  .notification-text {
    color: #cccccc;
  }

  .notification-menu-item {
    height: 42px !important;
    line-height: 18px !important;
  }

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }
</style>
