<template>
  <el-menu>
    <el-menu-item>
      <nuxt-link to="/timeline">
        <i class="el-icon-time" />
        <span>timeline</span>
      </nuxt-link>
    </el-menu-item>
    <el-menu-item>
      <nuxt-link to="/profile">
        <i class="el-icon-user" />
        <span>profile</span>
      </nuxt-link>
    </el-menu-item>
    <el-menu-item>
      <i class="el-icon-message" />
      <span>messages</span>
    </el-menu-item>
    <el-menu-item>
      <i class="el-icon-trophy" />
      <span>Best places to stay</span>
    </el-menu-item>
  </el-menu>
</template>

<script lang="ts">
export default {
  name: 'Sidebar'
}
</script>

<style scoped>
  a:link, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
  }
</style>
