<template>
  <nuxt-link :to="linkToObject" type="info">
    <slot name="default" />
  </nuxt-link>
</template>

<script lang="ts">
export default {
  name: 'LinkToObject',
  props: {
    object: {
      type: String,
      required: true
    }
  },
  computed: {
    linkToObject (): any {
      return { path: '/view-object', query: { q: this.object } };
    }
  }
}
</script>

<style scoped>
  a:link, a:visited, a:hover, a:active {
    color: black;
    font-size: small;
    text-decoration: none;
  }
</style>
