<template>
  <el-tooltip :content="new Date(value).toLocaleString()" placement="right">
    <span>
      {{ text }}
    </span>
  </el-tooltip>
</template>

<script lang="ts">
export default {
  name: 'Moment',
  props: {
    value: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      text: '',
      interval: null
    }
  },
  mounted () {
    this.text = this.$moment(this.value).fromNow();
    this.interval = setInterval(() => {
      const newText = this.$moment(this.value).fromNow();
      if (newText !== this.text) {
        this.text = newText;
      }
    }, 30000);
  },
  beforeDestroy () {
    clearInterval(this.interval);
    this.interval = null;
  }
}
</script>

<style scoped>

</style>
