<template>
  <el-card
    v-loading="!myObject"
    :element-loading-text="'Loading ' + object"
    style="margin-bottom: 10px; min-height: 100px; z-index: 15;"
  >
    <div v-if="myObject">
      <template v-if="isPost(myObject)">
        <post-component :deleteable="false" :post="myObject" />
      </template>
      <view-actor v-else-if="isActor(myObject)" :object="myObject" />
      <template v-else-if="isReply(myObject)">
        <post-reply :deleteable="false" :interactive="false" :reply="myObject" />
      </template>
      <template v-else-if="isLike && myDirectObject">
        Liked {{ objectDescription(myDirectObject) }}:
        <object-viewer :object="myDirectObject" />
      </template>
      <template v-else-if="isCreate && myDirectObject">
        Created
        <span v-if="isReply(myDirectObject)">
          <link-to-object :object="replyTo(myDirectObject)">
            {{ objectDescription(myDirectObject) }}:
          </link-to-object>
        </span>
        <span v-else>
          {{ objectDescription(myDirectObject) }}:
        </span>
        <post-component :deleteable="false" :post="myDirectObject" class="announce" />
      </template>
      <template v-else-if="isAnnounce && myDirectObject">
        Shared a post:
        <post-content v-if="myObject.content" :content="myObject.content" />
        <div class="announce">
          <post-component :deleteable="false" :post="myDirectObject" />
        </div>
      </template>
    </div>
  </el-card>
</template>

<script lang="ts">
import Component from 'nuxt-class-component';

import { Prop, Watch } from 'vue-property-decorator';
import type { ASObject, ObjectRef } from 'mammoth-activitystreams';
import { ActorSubTypes, ObjectType, resolveObjectRef } from 'mammoth-activitystreams';
import { FetchInstruction, FetchInstructions } from 'mammoth-api';
import { resolveObject } from '../src/apResolver';
import ViewActor from './Actor.vue';

import Attachments from './post/attachment/Attachments.vue';
import AuthenticatedComponent from './AuthenticatedComponent.vue';
import Author from './post/Author.vue';
import LinkToObject from './LinkToObject.vue';
import PostComponent from './post/PostComponent.vue';
import PostContent from './post/PostContent.vue';
import PostReply from './post/PostReply.vue';

const fetchInstructions = {
  fetch: {
    attributedTo: FetchInstruction.Resolve,
    actor: FetchInstruction.Resolve,
    object: {
      type: 'Object',
      recursive: true
    },
    likes: FetchInstruction.PopulateCollection,
    shares: FetchInstruction.PopulateCollection,
    replies: {
      type: 'Collection',
      recursive: true
    }
  }
} as FetchInstructions;

@Component({
  name: 'object-viewer',
  components: { PostComponent, ViewActor, Attachments, PostContent, Author, LinkToObject, PostReply }
})
export default class ObjectViewer extends AuthenticatedComponent {
    @Prop() readonly object: ObjectRef<ASObject>;

    myObject: ASObject = null;
    myDirectObject: ASObject = null;

    get isLike (): boolean {
      return ObjectType.Like === this.myObject.type;
    }

    get isCreate (): boolean {
      return ObjectType.Create === this.myObject.type;
    }

    @Watch('object')
    async objectUpdated (o: ObjectRef<ASObject>) {
      try {
        this.myObject = await resolveObject(o, fetchInstructions);
        if (this.myObject.object) {
          this.myDirectObject = await resolveObject(this.myObject.object, fetchInstructions);
        }
      } catch (e) {
        this.myObject = {
          type: 'Failed',
          id: this.object as string,
          summary: 'Failed to load object from remote server: ' + this.object
        } as ASObject;
      }
    }

    async mounted (): Promise<void> {
      await this.objectUpdated(this.object);
    }

    replyTo (object: ASObject) {
      return resolveObjectRef(object.inReplyTo);
    }

    isAnnounce (): boolean {
      return ObjectType.Announce === this.myObject.type;
    }

    isPost (object: ASObject): boolean {
      return ['Article', 'Audio', 'Event', 'Image', 'Note', 'Page', 'Video', 'Document'].includes(object.type) &&
        !object.inReplyTo;
    }

    isReply (object: ASObject): boolean {
      return ['Article', 'Audio', 'Event', 'Image', 'Note', 'Page', 'Video', 'Document'].includes(object.type) &&
        !!object.inReplyTo;
    }

    isActor (object: ASObject): boolean {
      return ActorSubTypes.includes(object.type);
    }

    objectDescription (object: ASObject): string {
      if (this.isPost(object)) {
        return 'a post';
      }
      if (this.isReply(object)) {
        return 'a reply';
      }
      if (this.isActor(object)) {
        return 'an actor';
      }
      return 'something';
    }
}
</script>

<!--suppress CssUnusedSymbol -->
<style scoped>
  @media screen and (max-width: 399px) {
    .post-card ::v-deep .el-card__body {
      padding: 0 5px !important;
    }
  }

  .announce {
    padding-left: 10px;
    padding-right: 10px;
    border: lightgray solid 1px;
    border-radius: 10px;
  }
</style>
