<!--suppress CssUnusedSymbol -->
<template>
  <div :key="post.id" class="post">
    <div v-if="post.deleted" class="redactedPost">
      Redacted
    </div>
    <div v-else>
      <post-component :deleteable="deleteable" :post="post" />
      <reaction-buttons :reactable="post" />

      <span v-if="reactionCount === 1">{{ reactionCount }} reaction</span>
      <span v-if="reactionCount > 1">{{ reactionCount }} reactions</span>
    </div>
    <div v-if="replies">
      <div v-for="item in replies.items" :key="item.id" ref="posts">
        <post-reply :in-reply-to="post" :reply="item" />
      </div>
    </div>
    <reply-composer :reply-to="post" />
  </div>
</template>

<script lang="ts">
import type { ASObject, Collection, Document, Link, ObjectRefs } from 'mammoth-activitystreams';
import type { APObject } from 'mammoth-activitypub';

import { objectRefsType, ObjectType } from 'mammoth-activitystreams';
import { resolveObject } from '../src/apResolver';
import PostComponent from './post/PostComponent.vue';
import PostReply from './post/PostReply';
import ReactionButtons from './post/ReactionButtons';
import ReplyComposer from './post/ReplyComposer.vue';

export default {
  name: 'Post',
  components: { PostComponent, ReplyComposer, ReactionButtons, PostReply },
  props: {
    post: {
      type: Object as () => Document & APObject,
      required: true
    },
    deleteable: {
      type: Boolean,
      default: true
    }
  },
  data: () => {
    return {
      replies: {
        type: ObjectType.Collection,
        items: []
      } as Collection<ASObject>,
      object: null as ASObject,
      loaded: false
    }
  },
  computed: {
    media (): ObjectRefs<Link> {
      if ([ObjectType.Video, ObjectType.Audio].includes(this.post.type)) {
        const url = this.post.url;
        if (objectRefsType(url) === 'array') {
          const desiredHeight = 301;
          // url = (url as Link[]).filter((link: Link) => link.mediaType === 'video/mp4');
          (url as Link[]).sort((a: Link, b: Link) => Math.abs(desiredHeight - a.height) - Math.abs(desiredHeight - b.height));
        }
        return url;
      }
      return null;
    },
    reactionCount () {
      if (this.post.likes && this.post.dislikes && this.post.likes.totalItems && this.post.dislikes.totalItems) {
        return this.post.likes.totalItems + this.post.dislikes.totalItems;
      }
      return 0;
    }
  },
  async mounted (): void {
    this.replies = await resolveObject(this.post.replies);
    this.object = await resolveObject(this.post.object);
    this.loaded = true;
  }
}
</script>

<style scoped>
  .redactedPost {
    max-width: 100%;
    background: repeating-linear-gradient(
      45deg,
      white,
      white 3px,
      lightgray 3px,
      lightgray 6px
    );
    border-radius: 10px;
    text-align: center;
  }

  .post {
    background-color: white;
    margin: 3px;
  }

  .reaction-select {
    border: none;
    height: 20px;
    line-height: 20px;
  }
</style>
