<template>
  <el-form-item>
    Sharing to
    <el-select v-model="selectValue" size="small">
      <el-tooltip content="Message will be sent to your followers and available to the public" placement="top">
        <el-option value="Public">
          Public
        </el-option>
      </el-tooltip>
      <el-tooltip
        content="Message will be sent to your followers but won't be available to the public after"
        placement="top"
      >
        <el-option value="Followers">
          Followers
        </el-option>
      </el-tooltip>
      <el-option value="Friends">
        Friends
      </el-option>
    </el-select>
  </el-form-item>
</template>

<script lang="ts">
import Vue from 'vue';
import { PropSync, Watch } from 'vue-property-decorator';
import Component from 'nuxt-class-component';

@Component
export default class AudienceSelect extends Vue {
    @PropSync('value', { type: String }) syncedValue: string

    selectValue: string = ''

    @Watch('selectValue')
    onSelectValueChanged (val: string) {
      this.syncedValue = val;
    }

    mounted () {
      this.selectValue = this.syncedValue;
    }
}
</script>

<style scoped>

</style>
