<template>
  <div class="composer" @paste="handlePaste">
    <el-form ref="createForm" @submit.prevent="createPost">
      <audience-select :value.sync="audience" />
      <div style="display: flex; flex-direction: row; margin-bottom: 10px;">
        <el-avatar v-if="me.icon" :src="me.icon.url" size="medium" />
        <span style="font-weight: bold; margin-left: 10px; margin-top: auto; margin-bottom: auto">
          {{ me.name }}
        </span>
      </div>
      <el-form-item>
        <el-input
          v-model="content"
          :rows="5"
          class="post-input"
          placeholder="What’s on your mind?"
          type="textarea"
        />
      </el-form-item>
      <attachments :attachments="attachments" :composing="true" />
      <div style="display: flex; flex-direction: row;">
        <image-composer :attachments="attachments" />
        <span style="flex-grow: 1" />
        <el-button :loading="creatingPost" type="primary" @click="createPost">
          {{ saveButtonText }}
        </el-button>
      </div>
    </el-form>
  </div>
</template>

<script lang="ts">
import Component from 'nuxt-class-component';
import { Form } from 'element-ui';
import type { Actor } from 'mammoth-activitypub';
import type { ASObject, Collection, ObjectRef, ObjectRefs, Update } from 'mammoth-activitystreams';
import { ObjectType } from 'mammoth-activitystreams';
import Attachments from '../post/attachment/Attachments.vue';
import AbstractComposer from './AbstractComposer';
import AudienceSelect from './AudienceSelect.vue';
import ImageComposer from './ImageComposer.vue';

const _ = require('lodash');

@Component({
  components: { AudienceSelect, Attachments, ImageComposer }
})
export default class Composer extends AbstractComposer {
  get saveButtonText (): string {
    return this.original ? 'Save' : 'Post';
  }

  mounted () {
    if (this.original) {
      if (this.original.content) {
        this.content = this.createMarkdownContent(this.original.content).trim();
      }
      this.attachments = this.original.attachment as ObjectRef<ASObject>[];
    }
  }

  createPostObject (): ASObject {
    const to: ObjectRefs<Actor | Collection<ASObject>> = this.createToAddressees(this.me);
    const content = this.createHtmlContent();
    if (this.original) {
      const update = {
        '@context': 'https://www.w3.org/ns/activitystreams',
        type: ObjectType.Update,
        actor: this.me.id,
        to: this.original.to,
        cc: this.original.cc,
        bto: this.original.bto,
        bcc: this.original.bcc,
        audience: this.original.audience,
        object: {
          id: this.original.id
        }
      } as Update;
      const object = update.object as ASObject;
      let hasUpdate = false;
      if (content !== this.original.content) {
        object.content = content;
        hasUpdate = true;
      }
      if (!_.isEqual(to, this.original.to)) {
        object.to = to;
        hasUpdate = true;
      }
      if (!_.isEqual(this.attachments, this.original.attachment)) {
        object.attachment = this.attachments;
        hasUpdate = true;
      }
      return hasUpdate ? update : null;
    }
    return {
      '@context': 'https://www.w3.org/ns/activitystreams',
      type: ObjectType.Note,
      content,
      attributedTo: this.me.id,
      attachment: this.attachments,
      to
    };
  }

  afterPostCompleted (): void {
    if (!this.original) {
      this.attachments = [];
      (this.$refs.createForm as Form).resetFields();
    }
  }
}
</script>

<style scoped>
  .post-input ::v-deep textarea {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    word-wrap: normal;
    word-break: normal;
  }

</style>
