<template>
  <div>
    <el-tooltip content="Attach a Photo" effect="dark" placement="top">
      <template v-if="size === 'large'">
        <el-button class="button" @click="addImages">
          <i class="el-icon-camera" />
        </el-button>
      </template>
      <template v-else>
        <el-button circle icon="el-icon-camera" size="mini" @click="addImages" />
      </template>
    </el-tooltip>
    <input
      ref="imageLoader"
      type="file"
      style="display: none"
      multiple="multiple"
      accept="image/jpeg|image/png|image/gif"
      @change="imagesSelected"
    >
  </div>
</template>

<script lang="ts">
import { Prop } from 'vue-property-decorator';

import Component from 'nuxt-class-component';
import type { ASObject, ObjectRef } from 'mammoth-activitystreams';
import AuthenticatedComponent from '../AuthenticatedComponent.vue';

@Component
export default class ImageComposer extends AuthenticatedComponent {
  @Prop({ type: Array, required: true }) readonly attachments: ObjectRef<ASObject>[]
  @Prop({ type: String, required: false, default: 'large' }) readonly size: string

  addImages () {
    (this.$refs.imageLoader as HTMLInputElement).click();
  }

  imagesSelected (event) {
    const files: FileList = event.target.files;
    for (let i = 0; i < files.length; i++) {
      const file = files.item(i);
      const attachment = {
        type: 'UploadedImage',
        mediaType: file.type,
        href: file.name,
        file,
        img: null,
        rotation: 0
      };
      this.attachments.push(attachment as ObjectRef<any>);
    }
  }
}
</script>

<style scoped>
  input[type="file"] {
    position: absolute;
    left: -9999em;
  }
</style>
