<template>
  <div>
    <div v-if="url" style="position: relative">
      <link-preview :url="url" clickable="false" size="timeline" />
      <el-tooltip content="Remove Attachment" placement="right">
        <el-button class="topright" icon="el-icon-close" type="text" @click="removeAttachment" />
      </el-tooltip>
    </div>
    <el-form @submit.native.prevent="addLink">
      <el-input v-model.trim="url" placehoder="enter/paste a link" size="small" type="text" />
    </el-form>
  </div>
</template>

<script lang="ts">
import { Prop } from 'vue-property-decorator';

import Component from 'nuxt-class-component';
import type { ASObject, Link, ObjectRef } from 'mammoth-activitystreams';
import AuthenticatedComponent from '../AuthenticatedComponent.vue';
import LinkPreview from '../post/LinkPreview.vue';

@Component({
  components: { LinkPreview }
})
export default class LinkComposer extends AuthenticatedComponent {
    @Prop() attachments: ObjectRef<ASObject>[]
    url: string = ''

    addLink () {
      const link: Link = {
        type: 'Link',
        href: this.url,
        mediaType: 'text/html' // fetch this from link preview?
      }
      this.attachments.push(link);
    }

    removeAttachment () {
      this.url = '';
    }
}
</script>

<style scoped>
  .topright {
    position: absolute;
    right: 10px;
    top: -8px;
    cursor: pointer;
  }
</style>
