<template>
  <div style="flex-grow: 1;">
    <div style="z-index: 10; position: absolute; left: 5px; top: 5px; opacity: 50%;">
      <el-button
        circle
        icon="el-icon-refresh-left"
        size="mini"
        @click="rotateLeft"
      />
      <el-button
        circle
        icon="el-icon-refresh-right"
        size="mini"
        @click="rotateRight"
      />
    </div>
    <canvas
      ref="canvas"
      style="width: 100%; height: 200px; border: 1px dot-dot-dash black;"
    />
  </div>
</template>

<script lang="ts">
import Component from 'nuxt-class-component';
import { Prop } from 'vue-property-decorator';
import { Image as ASImage } from 'mammoth-activitystreams';
import AuthenticatedComponent from '../AuthenticatedComponent.vue';

const NINETY_DEGREES = Math.PI / 2;
const TWO_PI = 2 * Math.PI;

enum Direction {
  toTheRight = 1,
  toTheLeft = -1
}

@Component
export default class UploadedImage extends AuthenticatedComponent {
  @Prop({ required: true }) uploadedImage: ASImage;
  @Prop({ default: 99999 }) maxHeight: number;

  img = new Image();
  rotation = 0; // radians, not degrees
  scale = 1;
  aspectRatio = 1;
  dx = 0;
  dy = 0;
  resizeObserver;

  async mounted () {
    await this.$nextTick();
    this.createResizeObserver();
    this.img.onload = async () => {
      this.aspectRatio = this.img.height / this.img.width;
      this.resizeCanvas();
      await this.drawImage();
    }
    try {
      this.img.src = URL.createObjectURL(this.uploadedImage.file);
      this.getBus().$emit('uploadedImage-set-image', { uploadedImage: this.uploadedImage, image: this.img });
    } catch (e) {
      e.toString();
    }
  }

  createResizeObserver () {
    if (ResizeObserver) {
      this.resizeObserver = new ResizeObserver(() => {
        this.handleCanvasResize();
      });
      const canvas = this.$refs.canvas as HTMLCanvasElement;
      this.resizeObserver.observe(canvas.parentElement.parentElement);
    }
  }

  beforeDestroy () {
    if (this.resizeObserver) {
      this.resizeObserver.disconnect();
    }
  }

  resizeCanvas () {
    const canvas = this.$refs.canvas as HTMLCanvasElement;
    let width = canvas.parentElement.parentElement.offsetWidth;
    let height = width * this.aspectRatio;
    if (this.maxHeight < height) {
      height = this.maxHeight;
      width = height / this.aspectRatio;
    }

    // size the html element on the screen
    canvas.style.width = width + 'px';
    canvas.style.height = height + 'px';

    // size the number of pixels of the element on the screen
    const dpr = window.devicePixelRatio || 1;
    canvas.width = width * dpr;
    canvas.height = height * dpr;
  }

  async drawImage () {
    await this.$nextTick();
    const canvas = this.$refs.canvas as HTMLCanvasElement;
    const ctx = canvas.getContext('2d');
    const imageWidth = this.img.width;
    const imageHeight = this.img.height;
    const canvasWidth = canvas.width;
    const canvasHeight = canvas.height;

    let scale;
    if (this.rotation === 0 || this.rotation === Math.PI) {
      scale = this.scale * canvasWidth / imageWidth;
    } else {
      scale = this.scale * canvasWidth / imageHeight;
    }
    ctx.setTransform(scale, 0, 0, scale, canvasWidth / 2, canvasHeight / 2);
    ctx.rotate(this.rotation);
    ctx.drawImage(this.img, -imageWidth / 2, -imageHeight / 2);
    ctx.setTransform(1, 0, 0, 1, 0, 0);
  }

  handleCanvasResize () {
    this.resizeCanvas();
    return this.drawImage();
  }

  adjustRotation (adjustment: number) {
    // FFS modulus in JavaScript is awful
    this.rotation = (((this.rotation + adjustment) % TWO_PI) + TWO_PI) % TWO_PI;
    this.getBus().$emit('uploadedImage-set-rotation', { uploadedImage: this.uploadedImage, rotation: this.rotation });
  }

  handleRotate (direction: Direction): Promise<void> {
    this.adjustRotation(direction * NINETY_DEGREES);
    this.aspectRatio = 1 / this.aspectRatio;
    this.resizeCanvas();
    return this.drawImage();
  }

  rotateLeft () {
    return this.handleRotate(Direction.toTheLeft);
  }

  rotateRight () {
    return this.handleRotate(Direction.toTheRight);
  }
}
</script>

<style scoped>

</style>
