<template>
  <el-container class="primary-container">
    <header-bar :active-index="headerBarIndex" />
    <el-container class="aside-and-main">
      <el-aside class="hidden-sm-and-down">
        <left-sidebar />
      </el-aside>
      <el-main class="main">
        <nuxt />
      </el-main>
    </el-container>
  </el-container>
</template>

<script lang="ts">
import Vue from 'vue';
import HeaderBar from '../components/HeaderBar';
import LeftSidebar from '../components/LeftSidebar';
import bus from '../src/bus'

export default {
  name: 'Authenticated',
  components: {
    HeaderBar,
    LeftSidebar
  },
  data: () => {
    return {
      headerBarIndex: 'timeline'
    }
  },
  created () {
    (bus as Vue).$on('header-bar-index', this.setHeaderBarIndex);
    (bus as Vue).$on('navigate', this.setPage);
  },
  beforeDestroy (): void {
    (bus as Vue).$off('header-bar-index', this.setHeaderBarIndex);
    (bus as Vue).$off('navigate', this.setPage);
  },
  methods: {
    setHeaderBarIndex (index) {
      this.headerBarIndex = index;
    },
    setPage (index) {
      if (this.$route.path !== index) {
        this.$router.push(index);
      }
    }
  }
}
</script>

<style>
@import 'node_modules/element-ui/lib/theme-chalk/display.css';
.aside-and-main {
  margin-top: 60px;
}

.primary-container {
  flex-direction: column;
  background-color: rgb(233, 235, 238);
}

.main {
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 400px) {
  .main {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 600px;
  }
}
@media screen and (max-width: 399px) {
  .main {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    max-width: 399px;
  }
}
</style>
