<template>
  <div>
    <el-card v-loading="!actor" :v-loadin-text="'Loading ' + $route.query.actor + '…'">
      <div v-if="actor">
        <div>
          <el-image v-if="actor.icon && actor.icon.url" style="width: 200px; height: 200px;" :src="actor.icon.url" class="avatar" />
          <div class="author-name-and-time">
            <span class="author-name">{{ actor.name }}</span>
            <br>
            <span>{{ actor.id }}</span>
          </div>
        </div>

        <template v-if="activityOf && activityFrom">
          <section>
            <el-button v-if="!activityOf.Follow" @click="followActor">
              Follow
            </el-button>
            <el-button v-else @click="unfollowActor">
              Un-follow
            </el-button>
          </section>
          <section>
            <div>
              <label>Friendship status: </label>
              {{ friendshipStatusText }}
            </div>
            <el-button-group>
              <el-button v-if="!friends && friendshipStatus === 'notFriends'" @click="sendFriendRequest">
                Add friend
              </el-button>
              <el-button v-if="friends || friendshipStatus === 'invited'">
                Un-friend
              </el-button>
              <el-button v-if="!friends && friendshipStatus === 'invitedBy'" @click="acceptFriendRequest">
                Accept friendship
              </el-button>
              <el-button v-if="!friends && friendshipStatus === 'invitedBy'">
                Reject friendship
              </el-button>
            </el-button-group>
          </section>
          <section>
            <el-button v-if="!activityOf.Like" @click="likeActor">
              Like
            </el-button>
            <el-button v-else @click="unlikeActor">
              Unlike
            </el-button>
          </section>
        </template>

        <el-menu mode="horizontal" default-active="outbox" style="margin-top: 20px" @select="handleMenuChange">
          <el-menu-item v-if="actor.outbox" index="outbox">
            <i class="el-icon-time" />
            <span v-if="outbox" class="hidden-sm-and-down">
              ({{ outbox.totalItems }})
            </span>
          </el-menu-item>
          <el-menu-item v-if="actor.following" index="following" :disabled="!(following && following.totalItems)">
            <i class="el-icon-user" />
            <span v-if="following && following.totalItems" class="hidden-sm-and-down">
              Follows ({{ following.totalItems }})
            </span>
          </el-menu-item>

          <el-menu-item v-if="actor.followers" index="followers" :disabled="!(followers && followers.totalItems)">
            <i class="el-icon-user-solid" />
            <span v-if="followers && followers.totalItems" class="hidden-sm-and-down">
              Followed by ({{ followers.totalItems }})
            </span>
          </el-menu-item>

          <el-menu-item v-if="actor.liked" index="liked" :disabled="!(liked && liked.totalItems)">
            <i class="el-icon-star-off" />
            <span v-if="liked && liked.totalItems" class="hidden-sm-and-down">
              ({{ liked.totalItems }})
            </span>
          </el-menu-item>
        </el-menu>
      </div>
    </el-card>
    <collection-view :collection="collection" />
  </div>
</template>

<script lang="ts">
import Component from 'nuxt-class-component';
import { Watch } from 'vue-property-decorator';

import type { Actor as APActor } from 'mammoth-activitypub';
import type { Accept, Follow, Invite, Like, Undo, ASObject, Collection, CollectionPageRef, ObjectRef, Relationship } from 'mammoth-activitystreams';
import { ObjectType, resolveActorRef, resolveObjectRef } from 'mammoth-activitystreams';
import AuthenticatedComponent from '../components/AuthenticatedComponent';
import CollectionView from '../components/CollectionView';
import ObjectViewer from '../components/ObjectViewer';
import { resolveObject } from '../src/apResolver';

@Component({
  components: { ObjectViewer, CollectionView },
  layout: 'authenticated',
  name: 'object-viewer'
})
export default class Actor extends AuthenticatedComponent {
  actor: APActor = null;
  activityOf: Record<ObjectType, ASObject[]> = null;
  activityFrom: Record<ObjectType, ASObject[]> = null;
  relationship: Relationship = null;
  likes: Collection<APActor> = null;
  liked: Collection<ASObject> = null;
  followers: Collection<APActor> = null;
  following: Collection<APActor> = null;
  outbox: Collection<ASObject> = null;
  collection: Collection<ASObject> = null;

  handleMenuChange (index: string) {
    this.collection = this[index];
  }

  @Watch('$route.query.actor')
  async watchRoute (actor: any): Promise<void> {
    await this.loadActor(actor);
  }

  async mounted () {
    await this.getActor();
    const actorId = this.$route.query.actor;
    await this.loadActor(actorId as string);
  }

  async getActivityOf (): Promise<void> {
    this.activityOf = await this.$axios.$get('/activityOf', { params: { q: this.actor.id } });
    this.activityFrom = await this.$axios.$get('/activityFrom', { params: { q: this.actor.id } });
    this.relationship = await this.$axios.$get('/relationship', { params: { actorId: this.actor.id } });
  }

  getLikesOf (): Promise<void> {
    return resolveObject(this.actor.likes as CollectionPageRef<APActor>)
      .then((result: Collection<APActor>) => {
        this.likes = result;
      })
  }

  private async loadActor (actorId: string) {
    this.actor = await resolveObject<APActor>(actorId as ObjectRef<APActor>, undefined);
    const promises = [];
    promises.push(this.getActivityOf());
    if (this.actor.outbox) {
      promises.push(
        resolveObject(this.actor.outbox)
          .then((result: Collection<ASObject>) => {
            this.outbox = result;
            this.collection = this.outbox;
          }));
    }
    if (this.actor.likes) {
      promises.push(this.getLikesOf());
    }
    if (this.actor.liked) {
      promises.push(this.getLikedBy());
    }
    if (this.actor.followers) {
      promises.push(this.getFollowersOf());
    }
    if (this.actor.following) {
      promises.push(resolveObject(this.actor.following as CollectionPageRef<APActor>)
        .then((result: Collection<APActor>) => {
          this.following = result;
        }));
    }
    await Promise.all(promises);
  }

  private getLikedBy () {
    return resolveObject(this.actor.liked as CollectionPageRef<ASObject>)
      .then((result: Collection<ASObject>) => {
        this.liked = result;
      });
  }

  private getFollowersOf (): Promise<void> {
    return resolveObject(this.actor.followers as CollectionPageRef<APActor>)
      .then((result: Collection<APActor>) => {
        this.followers = result;
      });
  }

  async followActor () {
    const followActivity = {
      '@context': 'https://www.w3.org/ns/activitystreams',
      type: ObjectType.Follow,
      to: [this.actor.id],
      actor: this.me.id,
      object: this.actor.id
    };
    await this.$axios.post(resolveObjectRef(this.me.outbox), followActivity);
    await this.getActivityOf();
  }

  async unfollowActor () {
    const followActivity: Follow = this.activityOf.Follow[0] as Follow;
    const undoActivity: Undo = {
      '@context': 'https://www.w3.org/ns/activitystreams',
      type: ObjectType.Undo,
      to: followActivity.to,
      actor: this.me.id,
      object: followActivity.id
    }
    await this.$axios.post(resolveObjectRef(this.me.outbox), undoActivity);
    await this.getActivityOf();
    if (this.actor.followers) {
      await this.getFollowersOf();
    }
  }

  async likeActor () {
    const like: Like = {
      '@context': 'https://www.w3.org/ns/activitystreams',
      type: ObjectType.Like,
      to: [this.actor.id],
      actor: this.me.id,
      object: this.actor.id
    };
    await this.$axios.post(resolveObjectRef(this.me.outbox), like);
    await this.getActivityOf();
    if (this.actor.liked) {
      await this.getLikesOf();
    }
  }

  async unlikeActor () {
    const like: Like = this.activityOf.Like[0] as Like;
    const undoActivity: Undo = {
      '@context': 'https://www.w3.org/ns/activitystreams',
      type: ObjectType.Undo,
      to: like.to,
      actor: this.me.id,
      object: like.id
    }
    await this.$axios.post(resolveObjectRef(this.me.outbox), undoActivity);
    await this.getActivityOf();
    if (this.actor.liked) {
      await this.getLikesOf();
    }
  }

  async sendFriendRequest () {
    const relationship: Relationship = {
      '@context': 'https://www.w3.org/ns/activitystreams',
      type: ObjectType.Relationship,
      subject: this.me.id,
      object: this.actor.id
    }
    const invitation: Invite = {
      '@context': 'https://www.w3.org/ns/activitystreams',
      type: ObjectType.Invite,
      to: this.actor.id,
      actor: this.me.id,
      object: this.actor.id,
      target: relationship
    };
    try {
      await this.$axios.post(resolveObjectRef(this.me.outbox), invitation);
      this.$message.info('Friend request sent');
      await this.getActivityOf();
    } catch (e) {
      this.$message.error('Unable to send friend request');
    }
  }

  async acceptFriendRequest () {
    const invitation = this.findFriendRequest();
    const accept: Accept = {
      '@context': 'https://www.w3.org/ns/activitystreams',
      type: ObjectType.Accept,
      to: resolveObjectRef(invitation.actor),
      actor: resolveActorRef(this.me),
      object: resolveObjectRef(invitation)
    };
    try {
      await this.$axios.post(resolveObjectRef(this.me.outbox), accept);
      this.$message.info('Friend request accepted!');
      await this.getActivityOf();
    } catch (e) {
      this.$message.error('Unable to accept friend request');
    }
  }

  get actorName (): string {
    return this.actor.name || this.actor.preferredUsername;
  }

  get friendshipStatusText (): string {
    if (this.friends) {
      return `You and “${this.actorName}” are friends.`;
    }

    switch (this.friendshipStatus) {
      case 'notFriends':
        return `You and “${this.actorName}” are not friends.`;

      case 'invited':
        return `You have sent “${this.actorName}” a friend request.`;

      case 'invitedBy':
        return `“${this.actorName}” has invited you to be friends.`;
    }
    return 'Unknown';
  }

  get friends (): boolean {
    return !!this.relationship;
  }

  get friendshipStatus (): string {
    let found: string = 'notFriends';
    if (this.activityOf && this.activityOf.Invite) {
      this.activityOf.Invite.forEach((invitation: Invite) => {
        if ((invitation.target as ASObject).type === ObjectType.Relationship) {
          if ((invitation.target as ASObject).object !== this.me.id) {
            found = 'invited';
          }
        }
      });
    }
    if (this.activityFrom && this.activityFrom.Invite) {
      if (this.findFriendRequest()) {
        found = 'invitedBy';
      }
    }
    return found;
  }

  findFriendRequest (): Invite {
    return this.activityFrom.Invite.find((invitation: Invite) => {
      if ((invitation.target as ASObject).type === ObjectType.Relationship) {
        if ((invitation.target as ASObject).object === this.me.id) {
          return true;
        }
      }
    }) as Invite;
  }
}
</script>

<!--suppress CssUnusedSymbol -->
<style scoped>
.el-card {
  margin-bottom: 10px;
}
section {
  margin-top: 10px;
}
</style>
