<template>
  <div v-if="!loggedIn" class="container">
    <h1 class="title">
      Mammoth
    </h1>
    <h2 class="subtitle">
      Scalable ActivityPub
    </h2>
    <div>
      <div>
        <el-link ref="signinLink" @click="showLogin()">
          sign in
        </el-link>
        <el-link ref="signupLink" @click="showSignup()">
          sign up
        </el-link>
      </div>
      <el-form v-if="login" ref="login" @submit.native.prevent="submit">
        <fieldset>
          <legend>please login:</legend>
          <div v-if="error" class="error">
            {{ errorMessage }}
          </div>
          <div>
            <label>username</label>
            <label>
              <el-input
                v-model="userId"
                placeholder="user id"
                type="text"
                name="userId"
                required
                autocapitalize="off"
              />
            </label>
          </div>
          <div>
            <label>password</label>
            <label>
              <el-input v-model="password" placeholder="password" type="password" name="password" required />
            </label>
          </div>
          <div class="login-button">
            <el-input type="submit" value="login" />
          </div>
        </fieldset>
      </el-form>
      <el-form v-else ref="signup" @submit.native.prevent="signup">
        <fieldset>
          <legend>Welcome! Let's sign up:</legend>
          <div v-if="error" class="error">
            {{ errorMessage }}
          </div>
          <div>
            <label>username</label>
            <label>
              <el-input
                v-model="userId"
                placeholder="user id"
                type="text"
                name="userId"
                required
                autocapitalize="off"
              />
            </label>
          </div>
          <div>
            <label>password</label>
            <label>
              <el-input v-model="password" placeholder="password" type="password" name="password" required />
            </label>
          </div>
          <div>
            <label>email</label>
            <label>
              <el-input v-model="email" placeholder="email" type="email" name="email" required />
            </label>
          </div>
          <div class="login-button">
            <el-input type="submit" value="create account" />
          </div>
        </fieldset>
      </el-form>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'nuxt-class-component';

@Component
export default class Index extends Vue {
  loggedIn = false
  userId = ''
  password = ''
  email = ''
  error = false
  errorMessage = ''
  login: boolean = true
  nextPage = null

  showLogin (): void {
    this.login = true;
  }

  showSignup (): void {
    this.login = false;
  }

  setActorCookie (actor) {
    const cookieData = btoa(JSON.stringify(actor));
    const cookieOptions = {
      sameSite: true,
      expires: new Date(Date.now() + 86400000)
    };
    this['$cookies'].set('actor', cookieData, cookieOptions);
  }

  async created () {
    this.nextPage = '/timeline';
    this.loggedIn = await this.$axios.$get('/amiloggedin');
    if (this.loggedIn) {
      await this.$router.replace(this.nextPage);
    }
  }

  async submit () {
    try {
      const loginData = {
        userId: this.userId,
        password: this.password
      };
      const actor = await this.$axios.post('/login', loginData);
      this.setActorCookie(actor.data);
      this.error = false;
      this.errorMessage = '';
      await this.$router.replace(this.nextPage);
    } catch (e) {
      this.error = true
      if (e.statusCode === 401 || e.message.indexOf('401')) {
        this.errorMessage = 'Username or password not valid.';
      } else {
        this.errorMessage = 'An unknown server error occurred. Please try again later.';
      }
    }
  }

  async signup () {
    const createUser = {
      userId: this.userId,
      password: this.password,
      email: this.email
    };
    try {
      await this.$axios.post('user', createUser);
      await this.submit();
    } catch (e) {
      this.error = true;
      if (e.statusCode === 409) {
        this.errorMessage = 'An account with that user id already exists.';
      } else {
        this.errorMessage = 'An unknown error occurred.';
      }
    }
  }
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.error {
  color: red;
}

.login-button {
  margin-top: 10px;
  width: 75%;
}
</style>
