<template>
  <el-form @submit.native.prevent="updateProfile">
    <el-card>
      <fieldset>
        <legend>Main settings</legend>
        <p>This information will appear on your profile</p>
        <el-form-item label="avatar">
          <el-upload
            action="/api/image"
            class="avatar-uploader"
            :show-file-list="false"
            :on-success="uploadAvatar"
            :before-upload="beforeUploadAvatar"
          >
            <img v-if="avatarUrl" :src="avatarUrl" class="avatar" alt="user avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon" />
          </el-upload>
        </el-form-item>

        <el-form-item label="full name">
          <el-input v-model="data.name" required placeholder="full name" />
        </el-form-item>
      </fieldset>
      <fieldset>
        <legend>User preferences</legend>
        <p>This information won't be visible to others</p>
        <el-form-item label="email">
          <el-input v-model="data.email" required placeholder="email" />
        </el-form-item>
      </fieldset>
      <el-form-item>
        <el-button :loading="saveInProgress" @click="updateProfile">
          submit
        </el-button>
      </el-form-item>
    </el-card>
  </el-form>
</template>

<script lang="ts">
import { Link } from 'mammoth-activitystreams';
import AuthenticatedComponent from '../components/AuthenticatedComponent';

export default {
  name: 'Profile',
  extends: AuthenticatedComponent,
  data: () => {
    return {
      user: {
        email: null
      },
      data: {
        name: '',
        email: '',
        icon: {},
        autoFollowBack: false,
        acceptMessagesFromFollowed: false
      },
      saveInProgress: false
    }
  },
  computed: {
    avatarUrl () {
      return this.data.icon.url;
    }
  },
  async beforeMount () {
    await this.setup(await this.getActor());
  },
  mounted () {
    this.getBus().$emit('header-bar-index', 'profile');
  },
  methods: {
    async setup (actor) {
      await this.getUser();
      this.data.name = actor.name;
      this.data.email = this.user.email;
      this.data.icon = actor.icon || {};
      this.data.autoFollowBack = this.user.autoFollowBack;
      this.data.acceptMessagesFromFollowed = this.user.acceptMessagesFromFollowed;
    },
    async getUser () {
      const result = await this.$axios.get('/user');
      this.user = result.data;
    },
    async updateProfile () {
      this.saveInProgress = true;
      try {
        await this.$axios.patch('/user', this.data);
        await this.updateActor();
        this.$message.info('profile saved');
        await this.setup(this.me);
      } catch (e) {
        this.$message.error('unable to save profile');
      }
      this.saveInProgress = false;
    },
    beforeUploadAvatar (res) {
      const mimeTypes = ['image/jpeg', 'image/png', 'image/gif', 'image/svg'];
      const maxSize = 6 * 1024 * 1024;
      let ready = true;
      if (!mimeTypes.includes(res.type)) {
        this.$message.error('Avatar picture must be JPEG, PNG, or GIF');
        ready = false;
      }
      if (res.size > maxSize) {
        this.$message.error('Avatar picture may not exceed 6MB');
        ready = false;
      }
      return ready;
    },
    uploadAvatar (response: Link) {
      this.$set(this.data.icon, 'url', response.href);
    }
  }
}
</script>

<style scoped>
fieldset {
  margin-bottom: 20px;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
</style>
