<template>
  <div>
    <h1>Search Results</h1>
    <object-viewer v-for="result in results" :key="result.id" :object="result" />
  </div>
</template>

<script lang="ts">
import Component from 'nuxt-class-component';
import type { ASObject } from 'mammoth-activitystreams';
import type { Actor } from 'mammoth-activitypub';
import { ActorSubTypes } from 'mammoth-activitystreams';
import AuthenticatedComponent from '../components/AuthenticatedComponent.vue';
import ObjectViewer from '../components/ObjectViewer.vue';

@Component({
  components: { ObjectViewer },
  layout: 'authenticated'
})
export default class Search extends AuthenticatedComponent {
  results: ASObject[] = [];

  async mounted () {
    this.results = await this.doSearch(this.$route.query.q as string);
  }

  async doSearch (q: string): Promise<ASObject[]> {
    const results = await this.$axios.$get('/search', { params: { q } });
    return results.webfingerResults.concat(results.urlResults);
  }

  linkToObject (object: ASObject): any {
    if (ActorSubTypes.includes(object.type)) {
      return { path: '/actor', query: { actor: object.id } };
    }
    return { path: '/view-object', query: { q: object.id } };
  }

  isFollowable (object: ASObject) {
    return ActorSubTypes.includes(object.type) && (object as Actor).followers;
  }
}
</script>

<style scoped>

</style>
