<template>
  <el-main class="main">
    <create-post class="create-post" />
    <el-card v-for="item in orderedItems" :key="item.id" class="post-card">
      <post :post="item" />
    </el-card>
    <div ref="scrollTrigger" style="height: 1px; width: 1px; position: relative; top: -800px;" />
  </el-main>
</template>

<script lang="ts">
import type { ASObject } from 'mammoth-activitystreams';
import { FetchInstruction, FetchInstructions } from 'mammoth-api';
import AuthenticatedComponent from '../components/AuthenticatedComponent';
import CreatePost from '../components/CreatePost.vue';
import Post from '../components/Post';

const fetchInstructions = JSON.stringify({
  fetch: {
    attributedTo: FetchInstruction.Resolve,
    actor: FetchInstruction.Resolve,
    object: {
      type: 'Object',
      fetch: {
        attributedTo: FetchInstruction.Resolve,
        actor: FetchInstruction.Resolve
      }
    },
    likes: FetchInstruction.PopulateCollection,
    shares: FetchInstruction.PopulateCollection,
    replies: {
      type: 'Collection',
      recursive: true
    }
  }
} as FetchInstructions);

export default {
  name: 'Timeline',
  components: {
    CreatePost,
    Post
  },
  layout: 'authenticated',
  extends: AuthenticatedComponent,
  props: {
  },
  data: () => {
    return {
      orderedItems: [],
      totalItems: 0,
      next: null,
      busy: false
    }
  },
  computed: {
    userId () {
      // set at login time by server
      return this.$cookies.get('userId')
    }
  },
  beforeMount () {
    this.getBus().$emit('header-bar-index', 'timeline');
  },
  beforeDestroy (): void {
    this.getBus().$off('post-created', this.handlePostCreated);
    this.getBus().$off('post-updated', this.handlePostCreated);
    this.getBus().$off('navigate', this.refreshTimeline);
  },
  async mounted (): void {
    this.getBus().$on('navigate', this.refreshTimeline);
    this.getBus().$on('post-created', this.handlePostCreated);
    this.getBus().$on('post-updated', this.handlePostUpdated);
    const actor = await this.getActor();
    this.next = actor.inbox;
    const mainArea = this.$refs.mainArea;
    const options = {
      root: mainArea,
      rootMargin: '0px',
      threshold: 0.5
    }

    const it = this;
    let lastCalled = 0;
    const observer = new IntersectionObserver(() => {
      if (!it.busy) {
        const now = Date.now();
        if (lastCalled < now - 200) {
          it.fetch();
          lastCalled = now;
        }
      }
    }, options);
    const refs = this.$refs;
    const interval = setInterval(() => {
      const scrollTrigger = refs.scrollTrigger;
      if (scrollTrigger) {
        observer.observe(scrollTrigger);
        clearInterval(interval);
      }
    }, 10);
  },
  methods: {
    fetch () {
      if (this.next) {
        this.busy = true;
        this.$axios.$get(this.next, { params: { fetchInstructions } })
          .then((nextPage) => {
            this.totalItems = nextPage.totalItems;
            this.orderedItems.push(...nextPage.orderedItems);
            this.next = nextPage.next;
            this.busy = false;
          });
      } else {
        this.busy = true;
      }
    },
    refreshTimeline (route) {
      if (route === '/timeline') {
        this.next = this.me.inbox;
        this.orderedItems = [];
        this.totalItems = 0;
        this.fetch();
      }
    },
    handlePostCreated (post) {
      this.orderedItems.unshift(post);
    },
    handlePostUpdated (update) {
      const index = this.orderedItems.findIndex((p: ASObject) => p.id === update.object.id);
      if (index !== -1) {
        this.$set(this.orderedItems, index, update.object);
      }
    }
  },
  head () {
    return {
      title: 'Mammoth Timeline'
    }
  }
}
</script>

<!--suppress CssUnusedSymbol -->
<style scoped>
.main {
  padding-left: 0;
  padding-right: 0;
}
.post-card {
  margin-bottom: 10px;
}
.create-post {
  margin-bottom: 10px;
}
@media screen and (max-width: 399px) {
  .post-card ::v-deep .el-card__body {
    padding: 0 5px !important;
  }
}
</style>
