<template>
  <div class="container">
    <div class="el-header">
      User profile
    </div>
    <table v-if="actor">
      <tr>
        <td>Preferred User name:</td>
        <td>{{ actor.preferredUsername }}</td>
      </tr>
      <tr>
        <td>Followers:</td>
        <td>{{ followersCount }}</td>
      </tr>
    </table>
    <el-button @click="follow()">
      Follow
    </el-button>
    <div v-if="outbox.length">
      <el-card v-for="post in outbox" ref="posts" :key="post.id">
        <post :post="post" :deleteable="false" />
      </el-card>
    </div>
  </div>
</template>

<script lang="ts">

import AuthenticatedComponent from '../components/AuthenticatedComponent.vue';
import Post from '../components/Post.vue';

export default {
  name: 'User',
  components: {
    Post
  },
  extends: AuthenticatedComponent,
  data: () => {
    return {
      actor: null,
      followersCount: 0,
      outbox: []
    }
  },
  async mounted () {
    this.actor = (await this.proxy(this.$route.query.actor)).data;
    if (this.actor.followers) {
      this.followersCount = (await this.proxy(this.actor.followers)).data.totalItems;
    }
    if (this.actor.outbox) {
      const outbox = (await this.proxy(this.actor.outbox)).data;
      let outboxActivities;
      if (outbox.orderedItems) {
        outboxActivities = outbox.orderedItems;
      } else {
        outboxActivities = (await this.proxy(outbox.first)).data.orderedItems;
      }
      const promises = [];
      const newOutbox = new Array(outboxActivities.length);
      let i = 0;
      outboxActivities.forEach((activity) => {
        const id = typeof activity.object === 'string' ? activity.object : activity.object.id;
        const index = i++;
        promises.push(this.proxy(id)
          .then((post) => { newOutbox[index] = post.data }));
      });
      await Promise.all(promises);
      this.outbox = newOutbox;
    }
  },
  methods: {
    async follow () {
      const followActivity = {
        '@context': 'https://www.w3.org/ns/activitystreams',
        type: 'Follow',
        to: [this.actor.id],
        actor: this.me.id,
        object: this.actor.id
      };
      await this.$axios.post(this.me.outbox, followActivity);
    }
  }
}
</script>

<style scoped>
dt {
  display: inline;
  font-weight: bold;
}
dd {
  display: inline;
}
</style>
