<template>
  <div v-if="me && object">
    <object-viewer :object="object" />
    <object-viewer v-for="item in outbox.orderedItems" :key="item.id" :object="item" />
  </div>
</template>

<!--suppress TypeScriptCheckImport -->
<script lang="ts">
import Component from 'nuxt-class-component';
import { Watch } from 'vue-property-decorator';
import type { ASObject, OrderedCollectionPage } from 'mammoth-activitystreams';
import { ActorSubTypes, ObjectType, resolveObjectRef } from 'mammoth-activitystreams';
import { FetchInstruction, FetchInstructions } from 'mammoth-api';
import AuthenticatedComponent from '../components/AuthenticatedComponent.vue';
import ObjectViewer from '../components/ObjectViewer.vue';

import { fetchObject } from '../src/apResolver';

const fetchInstructions = {
  fetch: {
    attributedTo: FetchInstruction.Resolve,
    actor: FetchInstruction.Resolve,
    object: {
      type: 'Object',
      recursive: true
    },
    likes: FetchInstruction.PopulateCollection,
    shares: FetchInstruction.PopulateCollection,
    replies: {
      type: 'Collection',
      recursive: true
    }
  }
} as FetchInstructions;

@Component({
  components: { ObjectViewer },
  layout: 'authenticated'
})
export default class ViewObject extends AuthenticatedComponent {
  object: ASObject = null

  outbox: OrderedCollectionPage<ASObject> = {
    type: ObjectType.OrderedCollectionPage,
    orderedItems: []
  }

  fullscreenLoading = true

  @Watch('$route.query.q')
  async watchRoute (to: any): Promise<void> {
    await this.retrieveObject(to);
  }

  async retrieveObject (id: string): Promise<void> {
    this.fullscreenLoading = true;
    this.object = await fetchObject(id, fetchInstructions);
    if (this.isActor && this.object.outbox) {
      this.outbox = await fetchObject<OrderedCollectionPage<ASObject>>(this.object.outbox, fetchInstructions);
      if (!this.outbox.orderedItems) {
        this.outbox = await fetchObject(resolveObjectRef(this.outbox.first), fetchInstructions);
      }
    } else {
      this.outbox.orderedItems = [];
    }
    this.fullscreenLoading = false;
  }

  get isActor (): boolean {
    return ActorSubTypes.includes(this.object.type);
  }

  async mounted () {
    await this.getActor();
    await this.retrieveObject(this.$route.query.q as string);
  }
}
</script>

<!--suppress CssUnusedSymbol -->
<style scoped>
.el-card {
  margin-bottom: 10px;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
</style>
