<template>
  <div class="adorned">
    <slot />
    <div v-if="visible" class="adornment">
      <span class="adorned-text"><i v-if="icon" :class="icon" />{{ value.trim() }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Adornment',
  props: {
    value: {
      type: String,
      required: true
    },
    visible: {
      type: Boolean,
      required: true
    },
    icon: {
      type: String,
      required: false,
      default: ''
    }
  }
}
</script>

<style scoped>
  .adorned {
    position: relative;
  }

  .adornment {
    background: white;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 9px;
    position: absolute;
    right: 2px;
    bottom: -10px;
    height: 16px;
    border: 1px solid rgb(242, 243, 245);
    box-shadow: 1px 1px lightgray;
    line-height: 12px;
  }

  .adorned-text {
    font-size: 12px;
    white-space: pre;
  }

  i {
    font-size: 115%;
    color: #409EFF;
  }
</style>
