<template>
  <div v-if="author" :key="author.id" class="post-author unselectable">
    <span v-if="author.icon">
      <el-avatar :src="author.icon.url" class="avatar" size="medium" />
    </span>
    <div class="author-name-and-time">
      <nuxt-link :to="{ path: '/actor', query: { actor: author.id } }">
        <span class="author-name">
          {{ name }}
        </span>
      </nuxt-link>
      <br>
      <link-to-object :object="post.id">
        <moment :value="post.updated || post.published" />
      </link-to-object>
      <span v-if="post.updated !== post.published" style="font-size: small">• Edited</span>
    </div>
    <div v-if="displayDropdown" class="options-box">
      <span class="options-widget">
        <el-dropdown @command="handleDropdownCommand">
          <i class="el-icon-more" style="cursor: pointer" />
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item
              v-if="deleteable"
              command="delete"
              icon="el-icon-document-delete"
            >Delete Post</el-dropdown-item>
            <el-dropdown-item v-if="editable" command="edit" icon="el-icon-edit">Edit Post</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </span>
    </div>
    <el-dialog :visible.sync="editingPost">
      <composer :original="post" />
    </el-dialog>
  </div>
</template>

<script lang="ts">
import type { ASObject, ObjectRef, ObjectRefs } from 'mammoth-activitystreams';
import type { Actor } from 'mammoth-activitypub';
import { objectRefsType } from 'mammoth-activitystreams';
import AuthenticatedComponent from '../AuthenticatedComponent.vue';
import Composer from '../composer/Composer.vue';
import LinkToObject from '../LinkToObject';
import Moment from '../Moment';
import { resolveObject, resolveObjects } from '../../src/apResolver';

export default {
  name: 'Author',
  components: { Composer, LinkToObject, Moment },
  extends: AuthenticatedComponent,
  props: {
    post: {
      type: Object,
      required: true
    },
    deleteable: {
      type: Boolean,
      default: true
    }
  },
  data: () => {
    return {
      author: null,
      editingPost: false
    }
  },
  computed: {
    displayDropdown (): boolean {
      return this.deleteable || this.editable;
    },
    name (): string {
      return this.author.name || this.author.preferredUsername;
    },
    editable (): boolean {
      return this.deleteable && this.author.id === this.me.id;
    }
  },
  async mounted () {
    this.author = await this.getAuthor(this.post);
    await this.getActor();
    this.getBus().$on('post-updated', this.removeComposer);
  },
  beforeDestroy (): void {
    this.getBus().$off('post-updated', this.removeComposer);
  },
  methods: {
    removeComposer () {
      this.editingPost = false;
    },
    handleDropdownCommand (command: string): void {
      switch (command) {
        case 'edit':
          this.editingPost = true;
          break;

        case 'delete':
          this.deletePost();
          break;
      }
    },
    async getAuthor (p: ASObject | Promise<ASObject>): Promise<Actor> {
      const post = await Promise.resolve(p);
      let author: ObjectRefs<Actor> = post.attributedTo ? post.attributedTo : post.actor;
      if (author != null) {
        if (objectRefsType(author) === 'array' && (author as ObjectRef<Actor>[]).length) {
          author = await resolveObject<Actor>(author[0]);
        } else {
          author = await resolveObjects<Actor>(author);
        }
        if (!(author as Actor).preferredUsername) {
          // for peertube, which includes partial attributedTo objects as a hack
          // https://github.com/Chocobozzz/PeerTube/issues/2704
          author = await resolveObject<Actor>(author.id);
        }
      }
      return author as Actor;
    },
    async deletePost () {
      const post = await Promise.resolve(this.post);
      const deletePostActivity = {
        '@context': 'https://www.w3.org/ns/activitystreams',
        object: post.postId,
        type: 'Delete',
        actor: this.actor.id
      };
      await this.$axios.post(this.actor.outbox, deletePostActivity);
      post.deleted = true;
    }
  }
}
</script>

<style scoped>
  .avatar {
    margin-top: 9px;
  }

  .post-author {
    display: inline-flex;
    margin-bottom: 8px;
    min-width: 100%;
  }

  .author-name {
    white-space: nowrap;
    font-weight: bold;
    color: #000066;
    margin-right: 4px;
  }

  .author-name-and-time {
    margin-top: 8px;
    margin-left: 10px;
  }

  .options-box {
    flex-grow: 1;
    align-content: flex-end;
    position: relative;
  }

  .options-widget {
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
  }

  .options-widget:hover {
    background: lightgray;
  }

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }
</style>
