<template>
  <el-tooltip :key="actor.id" placement="top">
    <slot name="content">
      <el-avatar size="medium" src="actor.icon.url" />
      {{ actor.name }}
      {{ handle }}
    </slot>
    <slot name="toolTippedContent" />
  </el-tooltip>
</template>

<script lang="ts">

export default {
  name: 'AuthorTooltip',
  props: {
    actor: {
      type: Object,
      required: true
    }
  },
  computed: {
    handle () {
      const domain = new URL(this.actor.id).hostname
      return this.actor.preferredUsername + '@' + domain;
    }
  }
}
</script>

<style scoped>

</style>
