<template>
  <span ref="span" />
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'nuxt-class-component';
import { Prop } from 'vue-property-decorator';
import { hashTagPattern } from '../composer/AbstractComposer';

@Component()
export default class HashTagText extends Vue {
    @Prop(String) readonly value: string;

    walkTheDOM (node: Node, visitor: (node: Node) => void) {
      visitor(node);
      node = node.firstChild;
      while (node) {
        this.walkTheDOM(node, visitor);
        node = node.nextSibling;
      }
    }

    getTextNodes (element: Element): Node[] {
      const nodes = [];

      this.walkTheDOM(element, (node: Node) => {
        if (node.nodeType === 3) {
          nodes.push(node);
        }
      });

      return nodes;
    }

    scanForHashtags (element: Element) {
      const nodes = this.getTextNodes(element);
      nodes.forEach((node: Node) => {
        const parent = node.parentElement;
        if (parent && node.textContent.match(hashTagPattern)) {
          this.processTokensInTextNode(node, parent);
          parent.removeChild(node);
        }
      });
    }

    processTokensInTextNode (node: Node, parent: HTMLElement) {
      const nextNode = node.nextSibling;
      const tokens = node.textContent.split(/\s/);
      let s: string = '';
      tokens.forEach((token: string) => {
        if (token.match(hashTagPattern)) {
          if (s.length > 0) {
            const textNode = document.createTextNode(s);
            if (nextNode) {
              parent.insertBefore(textNode, nextNode);
            } else {
              parent.appendChild(textNode);
            }
            s = '';
          }
          const subtokens = token.split(/(#(?![\p{Nd}\p{Pc}]+\b)[\p{L}\p{Nl}\p{Nd}\p{Pc}]{1,30})/gu);
          const anchor = document.createElement('a');
          const hashtag = subtokens[1];
          anchor.href = '/tag/' + encodeURIComponent(hashtag.slice(1).trim().toLowerCase());
          const textNode = document.createTextNode(hashtag);
          anchor.appendChild(textNode);
          if (nextNode) {
            parent.insertBefore(anchor, nextNode);
          } else {
            parent.appendChild(anchor);
          }
          s = subtokens[2] + ' ';
        } else {
          s += token + ' ';
        }
      });
      if (s.length > 0) {
        const textNode = document.createTextNode(s);
        if (nextNode) {
          parent.insertBefore(textNode, nextNode);
        } else {
          parent.appendChild(textNode);
        }
      }
    }

    // render (createElement: (o: string | Object | Function) => any) {
    //
    // }
    //
    mounted () {
      const template = document.createElement('template');
      template.innerHTML = this.value.trim();
      const content = template.content as Element;
      this.scanForHashtags(content as Element);
      const targetElement = this.$refs.span as Element;
      targetElement.innerHTML = template.innerHTML;
    }
}
</script>

<style scoped>
</style>
