<template>
  <div v-if="linkPreview">
    <div v-if="size === 'small'" class="link-preview-small">
      <el-image v-if="imageUrl" :src="imageUrl" class="link-image-small" fit="scale-down" />
      <div class="link-description">
        <div class="domain">
          {{ host }}
        </div>
        <h4>
          {{ linkPreview.name }}
        </h4>
        <br>
        <p v-if="!imageUrl">
          {{ linkPreview.summary }}
        </p>
      </div>
    </div>
    <div v-else class="large">
      <p v-if="!imageUrl" style="width: 100%; margin: auto; padding-bottom: 15px;">
        {{ linkPreview.summary }}
      </p>
      <el-image v-if="imageUrl" :src="imageUrl" :style="imageCSS" class="image-large" fit="scale-down" />
      <div ref="linkText">
        <div class="domain" style="width: 100%; margin-left: auto; margin-right: auto">
          {{ host }}
        </div>
        <h3 style="width: 100%; margin-left: auto; margin-right: auto">
          {{ linkPreview.name }}
        </h3>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import type { Link } from 'mammoth-activitystreams';
import { objectRefsType, objectRefType, ObjectType, resolveObjectRef } from 'mammoth-activitystreams';

const imageTypes: string[] = ['image/jpeg', 'image/gif', 'image/png', 'image/svg'];

export default {
  name: 'LinkPreview',
  props: {
    object: {
      type: Object,
      required: true
    },
    size: {
      type: String,
      default: 'small'
    },
    height: {
      type: Number,
      default: 0
    }
  },
  data: () => {
    return {
      linkPreview: null,
      imageCSS: ''
    }
  },
  computed: {
    host (): string {
      try {
        return new URL(this.linkPreview.id).hostname;
      } catch (e) {
        return '';
      }
    },
    imageHeightCSS (): string {
      if (this.height) {
        let textHeight = 40; // guess
        const linkTextDiv = this.$refs.linkText as HTMLDivElement;
        if (linkTextDiv) {
          textHeight = (linkTextDiv).offsetHeight;
        }
        // guess
        return 'height: ' + (this.height - textHeight) + 'px; ';
      }
      return '';
    },
    imageUrl () {
      if (objectRefsType(this.linkPreview) === 'Link') {
        return this.getImageUrlFromLink(this.linkPreview as Link);
      }
      if (objectRefsType(this.linkPreview) === 'ASObject' && this.linkPreview.url) {
        if (objectRefsType(this.linkPreview.url) === 'array') {
          const urls = this.linkPreview.url as any[];
          for (const url of urls) {
            if (imageTypes.includes(url.mediaType)) {
              return url.href;
            }
          }
        }
      }
      return null;
    }
  },
  async mounted () {
    const refType = objectRefType(this.object);
    if (refType === 'Link' || refType === 'string') {
      this.linkPreview = await this.loadUrl(resolveObjectRef(this.object));
    } else if (this.object.type === ObjectType.Page) {
      this.linkPreview = this.object;
    }
    await this.$nextTick();
    await this.$nextTick();
    this.imageCSS = this.imageHeightCSS;
  },
  methods: {
    getImageUrlFromLink (link: Link) {
      if (imageTypes.includes(link.mediaType)) {
        return link.href;
      }
      return null;
    },
    async loadUrl (url) {
      return await this.$axios.$get('/link-preview',
        { params: { url } });
    }
  }
}
</script>

<style scoped>
  .domain {
    font-size: smaller;
    word-break: normal;
    text-transform: uppercase;
  }

  .link-preview-small {
    display: flex;
    flex-direction: row;
    width: 325px;
    height: 106px;
    border: 1px solid rgb(193, 193, 193);
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 3px;
  }

  .link-image-small {
    width: 100px;
    height: 100px;
  }

  .link-description {
    overflow: hidden;
    flex: 1 1 0;
    margin-left: 10px;
    word-break: normal;
  }

  h3 {
    word-break: normal;
  }

  .large {
    display: flex;
    flex-direction: column;
  }
</style>
