<template>
  <div v-if="content" class="postContent">
    <hash-tag-text :value="sanitize(content)" />
  </div>
</template>

<script lang="ts">
import HashTagText from './HashTagText';

const sanitizeHtml = require('sanitize-html');

export default {
  name: 'PostContent',
  components: { HashTagText },
  props: {
    content: {
      type: String,
      default: ''
    }
  },
  methods: {
    sanitize (html) {
      const cleanHtml = sanitizeHtml(html, {
        allowedTags: ['blockquote', 'p', 'ul', 'ol', 'a',
          'nl', 'li', 'b', 'i', 'strong', 'em', 'strike', 'code', 'hr', 'br', 'pre']
      });

      const el: Element = document.createElement('div');
      el.innerHTML = cleanHtml;
      const anchors = el.getElementsByTagName('a');
      for (const anchor: HTMLAnchorElement of anchors) {
        anchor.target = '_blank';
        anchor.rel = 'noreferrer';
      }
      const betterHtml = el.innerHTML;
      return betterHtml;
    }
  }
}
</script>

<style scoped>
  .postContent {
    font-size: 11pt;
    text-align: left;
    word-break: normal;
    overflow: hidden;
  }

  .postContent >>> p {
    margin-bottom: 0.75em;
  }
</style>
