<template>
  <div>
    <author :deleteable="deleteable" :post="post" />
    <post-content :content="post.content" />
    <video v-if="media" controls>
      <source v-for="medium in media" :key="medium.href" :src="medium.href + '#t=0.1'" :type="medium.mediaType">
    </video>
    <attachments v-if="post.attachment" :attachments="post.attachment" />
    <div v-if="post.type === 'Announce' && object" class="announce">
      <post-component :deleteable="false" :post="object" />
    </div>
  </div>
</template>
<script lang="ts">
import {
  ASObject,
  Link,
  ObjectRef,
  ObjectRefs,
  objectRefsType,
  ObjectType,
  resolveObjectRef
} from 'mammoth-activitystreams';
import { resolveObject } from '../../src/apResolver';
import Attachments from './attachment/Attachments.vue'
import Author from './Author.vue'
import PostContent from './PostContent.vue'

export default {
  name: 'PostComponent',
  components: { Attachments, Author, PostContent },
  props: {
    post: {
      type: Object,
      required: true
    },
    deleteable: {
      type: Boolean,
      default: true
    }
  },
  data: () => {
    return {
      object: null as ASObject,
      filteredContent: ''
    }
  },
  computed: {
    media (): ObjectRefs<Link> {
      if ([ObjectType.Video, ObjectType.Audio].includes(this.post.type)) {
        const url = this.post.url;
        if (objectRefsType(url) === 'array') {
          const desiredHeight = 301;
          // url = (url as Link[]).filter((link: Link) => link.mediaType === 'video/mp4');
          (url as Link[]).sort((a: Link, b: Link) => Math.abs(desiredHeight - a.height) - Math.abs(desiredHeight - b.height));
        }
        return url;
      }
      return null;
    }
  },
  async mounted () {
    await this.filterContent();
    this.object = await resolveObject(this.post.object);
  },
  methods: {
    findTag (tag: ObjectRefs<ASObject>, link: string): ObjectRef<ASObject> {
      if (!tag) {
        return null;
      }
      if (objectRefsType(tag) === 'array') {
        const tagArray = tag as ObjectRef<ASObject>[];
        return tagArray.find((aTag: ASObject) => (aTag.href || aTag.url) === link.toLowerCase());
      }
    },
    async filterContent () {
      const el = document.createElement('div');
      el.innerHTML = this.post.content;
      const text = el.textContent;
      const contentLinks = text.match(/(?:(?:https?):\/\/|www\.)(?:\([-A-Z0-9+&@#/%=~_|$?!:,.]*\)|[-A-Z0-9+&@#/%=~_|$?!:,.])*(?:\([-A-Z0-9+&@#/%=~_|$?!:,.]*\)|[A-Z0-9+&@#/%=~_|$])/igm);
      const anchors = el.getElementsByTagName('a');
      const anchorLinks = [];
      for (const anchor: HTMLAnchorElement of anchors) {
        anchorLinks.push(anchor.href);
      }
      const hrefs = new Set();
      if (contentLinks) {
        contentLinks.forEach(link => hrefs.add(link));
      }
      if (anchorLinks) {
        anchorLinks.forEach((link: string) => {
          const tag = this.findTag(this.post.tag, link);
          if (!tag) {
            hrefs.add(link);
          }
        });
      }
      if (hrefs.size) {
        const post: ASObject = this.post;
        if (!post.attachment) {
          post.attachment = [];
        }
        const attachments = this.post.attachment as ASObject[];
        attachments.forEach((attachment: ASObject) => {
          const link = resolveObjectRef(attachment);
          if (hrefs.has(link)) {
            hrefs.delete(link);
          }
        });
        await Promise.all(Array.from(hrefs).map(async (href: string) => {
          try {
            const attachment = await this.$axios.$get('/link-preview', { params: { url: href } });
            if (attachment) {
              const hasInterestingContent = !!attachment.name || !attachment.mediaType.startsWith('text/html');
              if (hasInterestingContent) {
                attachments.push(attachment);
              }
            }
          } catch (e) {
            return null;
          }
        }));
      }
    }
  }
}
</script>
<style scoped>

  .announce {
    padding-left: 10px;
    padding-right: 10px;
    border: lightgray solid 1px;
    border-radius: 10px;
  }

  video {
    margin-top: 20px;
    width: 100%;
  }
</style>
