<template>
  <div>
    <div v-if="!editing" :class="replyStyle">
      <div class="reply-line">
        <adornment
          :value="likeBadgeText"
          :visible="!!reply.likes && !!reply.likes.totalItems"
          icon="el-icon-star-on"
        >
          <div style="display: flex">
            <span v-if="icon">
              <router-link v-if="authorId" :to="{ path: '/actor', query: {actor: authorId}}">
                <el-avatar :src="icon" class="avatar" size="medium" />
              </router-link>
            </span>
            <div class="reply-text">
              <router-link v-if="authorId" :to="{ path: '/actor', query: {actor: authorId}}">
                <span v-if="author" class="author">{{ author }}</span>
              </router-link>
              <span class="clearfix">
                <hash-tag-text :value="sanitize(reply.content)" />
              </span>
            </div>
          </div>
        </adornment>
        <div v-if="displayDropdown" class="options-box">
          <div class="options-widget">
            <el-dropdown @command="handleDropdownCommand">
              <i class="el-icon-more" style="cursor: pointer" />
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item v-if="deleteable" command="delete" icon="el-icon-document-delete">
                  Delete Reply
                </el-dropdown-item>
                <el-dropdown-item v-if="editable" command="edit" icon="el-icon-edit">
                  Edit Reply
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </div>
        </div>
      </div>
      <attachments v-if="reply.attachment" :attachments="reply.attachment" :reply="true" />
      <div v-if="interactive" class="reactions">
        <el-button size="small" type="text" @click="likeClicked">
          <span :style="isLiked ? 'font-weight: bolder' : ''">
            <i v-if="isLiked" class="el-icon-star-on" />{{ likeText }}
          </span>
        </el-button>
        •
        <el-button size="small" type="text" @click="createReply">
          reply
        </el-button>
        •
        <link-to-object :object="reply.id">
          <moment :value="reply.published" />
        </link-to-object>
      </div>
    </div>
    <reply-composer
      v-else
      :edit-reply="reply"
      :reply-to="inReplyTo"
      @cancel-edit="cancelEdit"
      @reply-saved="cancelEdit"
    />
    <div v-if="reply.replies">
      <div v-for="item in reply.replies.items" :key="item.id" ref="posts">
        <post-reply :in-reply-to="reply" :reply="item" />
      </div>
    </div>
    <reply-composer v-if="replyComposerVisible" :reply-to="reply" />
  </div>
</template>

<script lang="ts">
import type { ASObject, Collection, Like, Link, Undo } from 'mammoth-activitystreams';
import { addToObjectRefs, ObjectType, resolveObjectRef, resolveObjectRefs } from 'mammoth-activitystreams';
import type { Actor, APObject } from 'mammoth-activitypub';
import { resolveObject } from '../../src/apResolver';
import AuthenticatedComponent from '../AuthenticatedComponent';
import LinkToObject from '../LinkToObject';
import Moment from '../Moment';
import ReplyComposer from './ReplyComposer';
import Attachments from './attachment/Attachments.vue';
import HashTagText from './HashTagText';
import Adornment from './Adornment';

const sanitizeHtml = require('sanitize-html');

export default {
  name: 'PostReply',
  components: { LinkToObject, Adornment, ReplyComposer, Attachments, Moment, HashTagText },
  extends: AuthenticatedComponent,
  props: {
    reply: {
      type: Object as () => APObject,
      required: true
    },
    inReplyTo: {
      type: Object as () => APObject,
      required: false,
      default: null
    },
    interactive: {
      type: Boolean,
      default: true
    }
  },
  data: () => {
    return {
      icon: null as Link,
      author: null as string,
      replyComposerVisible: false,
      myInReplyTo: null as ASObject,
      likes: null as Collection<Like>,
      replies: null as Collection<ASObject>,
      attributedTo: null as Actor,
      editing: false
    }
  },
  computed: {
    authorId (): string {
      return resolveObjectRef(this.attributedTo);
    },
    deleteable (): boolean {
      return true;
    },
    displayDropdown (): boolean {
      return this.deleteable || this.editable;
    },
    editable (): boolean {
      return this.deleteable && resolveObjectRef(this.attributedTo) === resolveObjectRef(this.me);
    },
    replyStyle (): string {
      return 'reply-wrapper' + (this.isReplyToReply ? ' reply-to-reply' : '');
    },
    isReplyToReply (): boolean {
      return !!this.inReplyTo && !!this.inReplyTo.inReplyTo;
    },
    likeBadgeText () {
      const likes = this.likes;
      if (likes) {
        let totalItems: string = likes.totalItems.toString();
        if (totalItems > 99) {
          totalItems = '99+';
        }
        return ' ' + totalItems;
      }
      return '';
    },
    isLiked () {
      return this.likes &&
          !!this.findActorLike();
    },
    likeText () {
      if (this.likes) {
        if (this.isLiked) {
          return 'liked';
        }
        return 'like';
      }
      return '?';
    }
  },
  async mounted () {
    [this.likes, this.attributedTo] = await Promise.all([
      resolveObject(this.reply.likes),
        resolveObject(this.reply.attributedTo) as any
    ]);
    if (this.attributedTo) {
      if (this.attributedTo.icon) {
        this.icon = (this.attributedTo.icon as APObject).url;
      }
      this.author = this.attributedTo.name || this.attributedTo.preferredUsername;
    }
  },
  methods: {
    cancelEdit () {
      this.editing = false;
    },
    handleDropdownCommand (command: string): void {
      switch (command) {
        case 'edit':
          this.editing = true;
          break;
      }
    },
    findActorLike (): Like {
      return this.likes.items
        .find(object => resolveObjectRefs(object.actor) === this.me.id);
    },
    sanitize (html) {
      const cleanHtml = sanitizeHtml(html, {
        allowedTags: ['blockquote', 'p', 'a', 'ul', 'ol',
          'nl', 'li', 'b', 'i', 'strong', 'em', 'strike', 'code', 'br', 'pre'],
        allowedAttributes: {
          a: ['href', 'name', 'target']
        }
      });
      const el: Element = document.createElement('div');
      el.innerHTML = cleanHtml;
      const anchors = el.getElementsByTagName('a');
      for (const anchor: HTMLAnchorElement of anchors) {
        anchor.target = '_blank';
        anchor.rel = 'noreferrer';
      }
      return el.innerHTML;
    },
    createReply () {
      this.replyComposerVisible = true;
    },
    async undoLikeReply () {
      const likeToUndo = this.findActorLike();
      const undo: Undo = {
        '@context': 'https://www.w3.org/ns/activitystreams',
        type: ObjectType.Undo,
        actor: this.me.id,
        object: likeToUndo.id,
        to: likeToUndo.to,
        bto: likeToUndo.bto,
        cc: likeToUndo.cc,
        bcc: likeToUndo.bcc,
        audience: likeToUndo.audience
      };
      await this.$axios.post(this.me.outbox, undo);
      const index = (this.likes.items as Like[]).indexOf(likeToUndo);
      this.likes.totalItems--;
      (this.likes.items as Like[]).splice(index, 1);
    },
    async likeClicked () {
      if (!this.isLiked) {
        await this.likeReply();
      } else {
        await this.undoLikeReply();
      }
    },
    async likeReply () {
      const to =
          addToObjectRefs(this.reply.to, this.reply.attributedTo);
      const activity = {
        '@context': 'https://www.w3.org/ns/activitystreams',
        type: ObjectType.Like,
        object: this.reply.id,
        to,
        bto: this.reply.bto,
        cc: this.reply.cc,
        bcc: this.reply.bcc,
        audience: this.reply.audience,
        actor: this.me.id
      } as Like;
      const response = await this.$axios.post(this.me.outbox, activity);
      activity.id = response.headers.location;
      this.likes.totalItems++;
      (this.likes.items as Like[]).unshift(activity);
    }
  }
}
</script>

<!--suppress CssUnusedSymbol -->
<style scoped>
  .author {
    white-space: nowrap;
    font-weight: bold;
    color: #000066;
  }

  .avatar {
    margin-top: 8px;
    margin-right: 10px;
  }

  .reply-text {
    width: 90%;
    font-size: 14.667px;
    background-color: rgb(242, 243, 245);
    border-radius: 16px;
    vertical-align: middle;
    padding: 8px 8px 4px;
    margin-top: 8px;
    margin-right: 4px;
    flex-grow: 1;
  }

  .reply-line {
    display: flex;
  }

  .reactions {
    display: block;
    font-size: smaller;
    margin-left: 55px;
  }

  .reactions a {
    color: rgb(0, 0, 161);
    cursor: pointer;
  }

  .reply-wrapper {
    margin-bottom: 16px;
  }

  .reply-to-reply {
    padding-left: 40px;
  }

  .options-box {
    display: flex;
    flex-grow: 1;
    align-content: flex-end;
    height: 100%;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
  }

  .options-widget {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
  }

  .options-widget:hover {
    background-color: rgb(242, 243, 245);
  }
</style>
