<template>
  <div>
    <div v-if="showReactions" class="reaction-totals unselectable">
      <span v-if="hasLikes" class="like-totals">
        <i class="el-icon-star-on" />
        {{ likeCount }}
      </span>
      &nbsp;
      <span v-if="hasShares" style="float: right; margin-right: 20px;">
        <i class="el-icon-refresh-right" />
        {{ shareCount }}
      </span>
    </div>
    <div class="postReactions unselectable">
      <el-tooltip :content="likeTooltipText" effect="light" placement="bottom-end">
        <el-button ref="likeButton" :class="likeButtonClass" type="text" @click="likePost">
          <i :class="likeIcon" />
          {{ likeText }}
        </el-button>
      </el-tooltip>
      <el-tooltip v-if="sharable()" content="Re-share post" effect="light" placement="bottom-end">
        <el-button ref="share" class="share-button" type="text" @click="resharing = true">
          <i class="el-icon-refresh-right" />
          Share
        </el-button>
      </el-tooltip>
      <reshare-composer :resharing="reactable" :visible.sync="resharing" />
    </div>
  </div>
</template>

<script lang="ts">
import {
  addToObjectRefs, ObjectType,
  resolveActorRef,
  resolveObjectRef,
  resolveObjectRefs
} from 'mammoth-activitystreams';
import type { APObject } from 'mammoth-activitypub';
import type { Actor, ASObject, Collection, Dislike, Like, ObjectRefs, Undo } from 'mammoth-activitystreams';
import { resolveObject } from '../../src/apResolver';
import AuthenticatedComponent from '../AuthenticatedComponent';
import ReshareComposer from '../composer/reshare/ReshareComposer.vue';

const _ = require('lodash');

export default {
  name: 'ReactionButtons',
  components: { ReshareComposer },
  extends: AuthenticatedComponent,
  props: {
    reactable: {
      type: Object,
      required: true
    }
  },
  data: () => {
    return {
      resharing: false,
      shares: null,
      likes: null
    }
  },
  computed: {
    likesTooltipText (): string {
      const names: string[] = [];
      for (let i = 0; i < Math.min(3, this.likes.totalItems); i++) {
        const like = this.likes.items[i];
        names.push(like.actor.name || like.actor.preferredUsername);
      }
      return names.join(', ');
    },
    showReactions (): boolean {
      return this.likes && this.shares && (this.hasLikes || this.hasShares)
    },
    hasLikes (): boolean {
      return !!this.likeCount;
    },
    likeCount (): number {
      return this.likes.totalItems;
    },
    shareCount (): number {
      return this.shares.totalItems;
    },
    hasShares (): boolean {
      return !!this.shareCount;
    },
    likeTooltipText () {
      return this.isLiked ? 'Click to not “Like” this post' : 'Click to “Like” this post';
    },
    likeButtonClass () {
      return this.isLiked ? 'likeButton liked' : 'likeButton notLiked';
    },
    likeIcon () {
      return this.isLiked ? 'el-icon-star-on' : 'el-icon-star-off';
    },
    likeText () {
      return 'Like';
    },
    isLiked () {
      if (this.reactable.likes && this.reactable.likes.items) {
        return this.reactable.likes.items.find(x => x.actor === this.me.id);
      }
      return false;
    },
    isDisliked () {
      if (this.reactable.dislikes && this.reactable.dislikes.items) {
        return this.reactable.dislikes.items.find(x => x.actor === this.me.id);
      }
      return false;
    }
  },
  async mounted (): void {
    this.shares = await resolveObject(this.reactable.shares);
    this.likes = await resolveObject(this.reactable.likes);
  },
  methods: {
    isPubliclyAddressed (addressees: ObjectRefs<Actor | Collection<ASObject>>): boolean {
      if (!addressees) {
        return false;
      }
      const result = resolveObjectRefs(addressees);
      if (typeof result === 'string') {
        return (result as string) === 'https://www.w3.org/ns/activitystreams#Public';
      }
      return (result as string[]).includes('https://www.w3.org/ns/activitystreams#Public');
    },
    isPublic (post: APObject) {
      return this.isPubliclyAddressed(post.to) ||
          this.isPubliclyAddressed(post.cc)
    },
    isMyPost (post: APObject) {
      return resolveObjectRef(post.attributedTo) === this.me.id ||
          resolveActorRef(post.actor) === this.me.id;
    },
    sharable (): boolean {
      return this.isPublic(this.reactable) && !this.isMyPost(this.reactable)
    },
    async submitReaction (reactionType: ObjectType.Like | ObjectType.Dislike, collection): Promise<void> {
      // noinspection TypeScriptValidateTypes
      const activity = {
        '@context': 'https://www.w3.org/ns/activitystreams',
        object: this.reactable.id,
        to: addToObjectRefs<Actor>(this.reactable.to, this.reactable.attributedTo),
        bto: this.reactable.bto,
        cc: this.reactable.cc,
        bcc: this.reactable.bcc,
        audience: this.reactable.audience,
        type: reactionType,
        actor: this.me.id
      } as Like | Dislike;
      const response = await this.$axios.post(this.me.outbox, activity);
      activity.id = response.headers.location;
      collection.items.push(activity);
    },
    async likePost () {
      if (!this.isLiked) {
        if (this.isDisliked) {
          const reaction = this.findReaction(this.me.id, this.reactable.dislikes);
          await this.undoReaction(this.reactable, reaction, this.me);
        }
        await this.submitReaction(ObjectType.Like, this.reactable.likes);
      } else {
        const reaction = this.findReaction(this.me.id, this.reactable.likes);
        await this.undoReaction(this.reactable, reaction, this.me);
      }
    },
    findReaction (actorId, collection) {
      return collection.items.find(item => item.actor === actorId);
    },
    removeFromCollection (collection, actorId) {
      return _.remove(collection, reaction => reaction.actor === actorId);
    },
    async undoReaction (reactable, reaction, actor) {
      const undoActivity: Undo = {
        '@context': 'https://www.w3.org/ns/activitystreams',
        type: ObjectType.Undo,
        actor: reaction.actor,
        object: reaction.id,
        to: this.reactable.to,
        bto: this.reactable.bto,
        cc: this.reactable.cc,
        bcc: this.reactable.bcc,
        audience: this.reactable.audience
      };
      await this.$axios.post(actor.outbox, undoActivity);
      if (this.isLiked) {
        this.reactable.likes.items = this.removeFromCollection(reactable.likes.items, reaction);
      }
      if (this.isDisliked) {
        this.reactable.dislikes.items = this.removeFromCollection(reactable.dislikes.items, reaction);
      }
      delete reactable.usersReaction;
    }
  }
}
</script>

<!--suppress CssUnusedSymbol -->
<style scoped>
  .reaction-totals {
    margin-top: 5px;
    border-top: 1px lightgray solid;
    padding-top: 3px;
  }

  .like-totals {
    margin-left: 20px;
  }

  a {
    cursor: pointer;
  }

  .postReactions {
    margin-top: 5px;
    border-top: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
  }

  .likeButton {
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .liked {
    font-weight: bold;
  }

  .notLiked {
    color: black;
  }

  .share-button {
    float: right;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 20px;
  }

  i {
    font-size: 120%;
  }
</style>
