<template>
  <div @paste="handlePaste">
    <div :class="composerStyle">
      <el-avatar v-if="me.icon" :src="me.icon.url" class="avatar" size="medium" />
      <el-form style="flex-grow: 1" @submit.native.prevent="createPost">
        <div style="position: relative">
          <el-input
            v-model="content"
            autosize
            class="reply-input"
            placeholder="write a comment…"
            resize="none"
            type="textarea"
            @keyup.native.enter.capture="createPost"
          />
          <div style="position: absolute; right: 2px; bottom: 11px;">
            <image-composer :attachments="attachments" size="reply" />
          </div>
        </div>
      </el-form>
    </div>
    <div v-if="editReply" :class="composerStyle" style="font-size: small; margin-left: 45px;">
      Press esc to&nbsp;
      <a href="" @click.prevent="cancelEdit">
        cancel
      </a>
    </div>
    <attachments :attachments="attachments" :composing="true" />
  </div>
</template>

<script lang="ts">
import { addToObjectRefs, ASObject, ObjectType, resolveObjectRef } from 'mammoth-activitystreams';
import type { Actor, Note, ObjectRef, Update } from 'mammoth-activitystreams';
import Component from 'nuxt-class-component';
import { Prop } from 'vue-property-decorator';
import AbstractComposer from '../composer/AbstractComposer.vue';
import ImageComposer from '../composer/ImageComposer.vue';
import Attachments from './attachment/Attachments.vue';

const _ = require('lodash');

@Component({
  components: { Attachments, ImageComposer }
})
export default class ReplyComposer extends AbstractComposer {
  @Prop({ required: true, type: Object }) readonly replyTo: ASObject
  @Prop({ required: false, type: Object, default: null }) readonly editReply: ASObject

  get composerStyle (): string {
    return 'reply-composer' + (this.isReplyToReply ? ' reply-to-reply' : '');
  }

  get isReplyToReply (): boolean {
    return !!this.replyTo.inReplyTo;
  }

  mounted () {
    if (this.editReply) {
      this.content = this.createMarkdownContent(this.editReply.content).trim();
      this.attachments = this.editReply.attachment as ObjectRef<ASObject>[];
    }
  }

  cancelEdit () {
    this.$emit('cancel-edit');
  }

  createPostObject (): Update | Note {
    const content = this.createHtmlContent();
    if (this.editReply) {
      const object = {
        id: this.editReply.id
      } as Note;
      if (content !== this.editReply.content) {
        object.content = content;
      }
      if (!_.isEqual(this.attachments, this.editReply.attachment)) {
        object.attachment = this.attachments;
      }

      return {
        '@context': 'https://www.w3.org/ns/activitystreams',
        type: ObjectType.Update,
        actor: this.me.id,
        object,
        to: this.editReply.to,
        cc: this.editReply.cc,
        bto: this.editReply.bto,
        bcc: this.editReply.bcc,
        audience: this.editReply.audience
      } as Update;
    }

    let attachment;
    if (this.attachments.length) {
      attachment = this.attachments;
    } else {
      attachment = undefined;
    }
    // noinspection TypeScriptValidateTypes
    return {
      '@context': 'https://www.w3.org/ns/activitystreams',
      type: ObjectType.Note,
      published: new Date().toISOString(),
      inReplyTo: resolveObjectRef(this.replyTo),
      content,
      attachment,
      attributedTo: this.me.id,
      to: addToObjectRefs<Actor>(this.replyTo.to, this.replyTo.attributedTo),
      cc: this.replyTo.cc,
      audience: this.replyTo.audience
    } as Note;
  }
}
</script>

<!--suppress CssUnusedSymbol -->
<style scoped>
  .reply-composer {
    display: inline-flex;
    align-items: stretch;
    width: 100%
  }

  .reply-to-reply {
    padding-left: 40px;
  }

  .reply-input ::v-deep textarea {
    border-radius: 16px;
    background-color: rgb(242, 243, 245);
    padding: 8px 8px 4px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  }

  .avatar {
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: 8px;
  }

  .icon-adornment {
    position: absolute;
    right: 10px;
    bottom: 17px;
    color: gray;
  }
</style>
