<template>
  <el-dialog :visible.sync="visibleSync" title="Re-Share Post">
    <el-form ref="createForm" @submit.prevent="createPost">
      <audience-select :value.sync="audience" />
      <el-form-item>
        <el-input v-model="content" class="post-input" placeholder="What’s on your mind?" type="textarea" />
      </el-form-item>
      <el-form-item>
        <el-button-group>
          <el-button :loading="creatingPost" round style="float: right;" type="success" @click="createPost">
            Post
          </el-button>
        </el-button-group>
      </el-form-item>
      <author :deleteable="false" :post="resharing" />
      <post-content :content="resharing.content" />
      <attachments v-if="resharing.attachment" :attachments="resharing.attachment" />
    </el-form>
  </el-dialog>
</template>

<script lang="ts">
import { Prop, PropSync } from 'vue-property-decorator';
import Component from 'nuxt-class-component';
import type { Announce, ASObject } from 'mammoth-activitystreams';
import { ObjectType, resolveObjectRef } from 'mammoth-activitystreams';
import AbstractComposer from '../AbstractComposer';
import Attachments from '../../post/attachment/Attachments.vue';
import Author from '../../post/Author';
import AudienceSelect from '../AudienceSelect';
import PostContent from '../../post/PostContent';

@Component({
  components: { AudienceSelect, Author, PostContent, Attachments },
  extends: AbstractComposer
})
export default class ReshareComposer extends AbstractComposer {
    @Prop(Object) readonly resharing: ASObject
    @PropSync('visible', { type: Boolean }) visibleSync: Boolean

    createPostObject (): ASObject {
      const to = this.createToAddressees(this.me);
      return {
        '@context': 'https://www.w3.org/ns/activitystreams',
        type: ObjectType.Announce,
        content: this.createHtmlContent(),
        actor: this.me.id,
        object: this.resharing.id,
        to,
        bcc: resolveObjectRef(this.resharing.attributedTo)
      } as Announce;
    }
}
</script>

<style scoped>
  .post-input ::v-deep textarea {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  }
</style>
